<router-outlet></router-outlet>
<clr-vertical-nav
  [clrVerticalNavCollapsible]="false"
  [clr-nav-level]="2"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  <a
    clrVerticalNavLink
    routerLink="/fleet/design/new"
    routerLinkActive="active"
  >
    <clr-icon shape="plus"></clr-icon>

    Add Design
  </a>

  <a
    clrVerticalNavLink
    cdkDrag
    *ngFor="let ds of ms.game.fleetManager.ships; trackBy: designId"
    [routerLink]="'/fleet/design/' + ds.id"
    routerLinkActive="active"
    class="movable"
  >
    <!-- <clr-icon shape="floppy"></clr-icon> -->
    <div class="clr-row clr-justify-content-between">
      <span class="resLeft">
        {{ ds.name }}
      </span>
      <span class="resRight">
        <app-formatted-quantity [quantity]="ds.quantity" [integer]="true">
        </app-formatted-quantity>
      </span>
    </div>
  </a>
</clr-vertical-nav>
