// .resLeft {
//   width: 70%;
//   padding-left: 1rem;
// }
// .resRight {
//   width: 30%;
// }
.nav-link {
  height: 1.5rem;
  padding: 0 0.5rem 0 1rem;
  line-height: 1.5rem;
  outline-offset: -5px;
}
clr-vertical-nav.cdk-drop-list-dragging a {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.inlineFlex {
  display: inline-flex;
  width: 100%;
}
.qtaSpan {
  margin-top: -1rem;
  display: block;
}
.shipIcon {
  margin-top: 0.5rem;
  margin-right: 0.1rem;
}
