<div class="card-block">
  <div class="progress-static top">
    <div class="progress-meter" [attr.data-value]="progress"></div>
  </div>
  <div class="card-title">{{ auto.name }}</div>

  <form clrForm clrLayout="compact">
    <clr-checkbox-container>
      <label>Active</label>
      <clr-checkbox-wrapper>
        <label>On</label>
        <input
          clrCheckbox
          type="checkbox"
          [(ngModel)]="auto.on"
          name="on"
          (change)="onActivationChange()"
        />
      </clr-checkbox-wrapper>
    </clr-checkbox-container>

    <clr-select-container>
      <label>Interval</label>
      <select clrSelect name="interval" [(ngModel)]="auto.minInterval">
        <option
          *ngFor="let time of intervals; trackBy: timeId"
          [value]="time"
          >{{ time }}</option
        >
      </select>
    </clr-select-container>

    <clr-input-container>
      <label>Priority</label>
      <input
        clrInput
        type="number"
        [(ngModel)]="auto.priority"
        name="priority"
      />
    </clr-input-container>
  </form>
</div>
