<h1>
  <clr-icon shape="flask" size="48" class="resIcon"></clr-icon>
  Shipyard
</h1>

<div class="clr-row">
  <div class="clr-col-12	clr-col-sm-12	clr-col-md-12	clr-col-lg-6 clr-col-xl-6">
    <p>
      Naval Capacity:
      <app-formatted-quantity
        [quantity]="ms.game.fleetManager.totalWantedNavalCap"
        [integer]="true"
        [class.notEnough]="!ms.game.fleetManager.configurationValid"
      >
      </app-formatted-quantity>
      /
      <app-formatted-quantity
        [quantity]="ms.game.fleetManager.totalNavalCapacity"
        [integer]="true"
      >
      </app-formatted-quantity>
      <br />
      <!-- Progress:
      <app-polynom
        [a]="ms.game.resourceManager.shipyardProgress.a"
        [b]="ms.game.resourceManager.shipyardProgress.b"
        [c]="ms.game.resourceManager.shipyardProgress.c"
      ></app-polynom>
      <br /> -->
    </p>

    <ng-container *ngIf="ms.game.resourceManager.shipyardX1.quantity.lte(0)">
      <clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">
            You don't have any
            <a [routerLink]="'/home/res/S1'">Worker Drone </a>
          </span>
        </clr-alert-item>
      </clr-alert>
      <br />
    </ng-container>

    <div
      *ngIf="ms.game.fleetManager.ships.length > 0; else noDesignAlert"
      class="btn-group btn-primary"
    >
      <button
        class="btn"
        [disabled]="!ms.game.fleetManager.configurationValid"
        (click)="save()"
      >
        <clr-icon shape="floppy"></clr-icon>
        Save
      </button>
      <button
        class="btn btn-success"
        [disabled]="!ms.game.fleetManager.configurationValid"
        (click)="make()"
      >
        <clr-icon shape="cog"></clr-icon>
        Reinforce fleet
      </button>
    </div>

    <ng-template #noDesignAlert>
      <clr-alert [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">
            You dont have any ship design. Make one
            <a routerLink="/fleet/design/new">here</a>
          </span>
        </clr-alert-item>
      </clr-alert>
    </ng-template>

    <div *ngFor="let ds of ms.game.fleetManager.ships; trackBy: designId">
      <h4>
        <clr-icon shape="angle-double" *ngIf="ds.isUpgrading"></clr-icon>
        <clr-icon shape="cog" *ngIf="ds.isBuilding"></clr-icon>

        <clr-icon [attr.shape]="ds.type.shape"></clr-icon>

        {{ ds.name }}

        <app-formatted-quantity
          [quantity]="ds.wantQuantityTemp"
          [integer]="true"
        ></app-formatted-quantity>
      </h4>
      <input
        type="range"
        [name]="'sl' + ds.id"
        [min]="ds.sliderOptions.floor"
        [max]="ds.sliderOptions.ceil"
        [step]="ds.sliderOptions.step"
        [(ngModel)]="ds.wantQuantityTemp"
        (change)="onSliderChange()"
      />
    </div>
  </div>
  <div class="clr-col-12	clr-col-sm-12	clr-col-md-12	clr-col-lg-6 clr-col-xl-6">
    <h4>Jobs:</h4>
    <div cdkDropList (cdkDropListDropped)="drop($event)" class="myBg drag-list">
      <app-job
        cdkDrag
        *ngFor="let job of ms.game.shipyard.jobs; trackBy: getJobId"
        [job]="job"
      ></app-job>
    </div>
  </div>
</div>
