<h1>
  <clr-icon
    [attr.shape]="unitGroup.icon"
    *ngIf="unitGroup?.icon"
    size="48"
    class="resIcon"
  ></clr-icon>
  {{ unitGroup.name }}
</h1>
<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">Overview</button>
    <clr-tab-content id="content1" *clrIfActive="ms.overviewTaActive">
      <app-resource-group
        *ngIf="unitGroup"
        [resourceGroup]="unitGroup"
      ></app-resource-group>
    </clr-tab-content>
  </clr-tab>

  <!-- <clr-tab *ngIf="ms.game.tabs.autoBuy.unlocked">
    <button clrTabLink>Auto Buyers</button>
    <clr-tab-content *clrIfActive="ms.prestigeTaActive">
      <app-group-auto-buy [unitGroup]="unitGroup"></app-group-auto-buy>
    </clr-tab-content>
  </clr-tab> -->
</clr-tabs>
