<h1>
  <clr-icon
    [attr.shape]="unitGroup.icon"
    *ngIf="unitGroup?.icon"
    size="48"
    class="resIcon"
  ></clr-icon>
  {{ unitGroup.name }}
</h1>
<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">Overview</button>
    <clr-tab-content id="content1" *clrIfActive="ms.overviewTaActive">
      <app-resource-group
        *ngIf="unitGroup"
        [resourceGroup]="unitGroup"
      ></app-resource-group>
    </clr-tab-content>
  </clr-tab>

  <clr-tab *ngFor="let auto of unitGroup.unlockedAutomators; trackBy: autoId">
    <button clrTabLink id="link1">{{ auto.name }}</button>
    <clr-tab-content id="content1" *clrIfActive>
      <app-group-automator
        [resourceGroup]="unitGroup"
        [auto]="auto"
      ></app-group-automator>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
