<table class="table table-compact table-noborder">
  <thead>
    <tr>
      <th class="left">Bonus</th>
      <th>Quantity</th>
      <th>Effect</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <!-- Base -->
    <tr *ngIf="production">
      <td class="left">Base</td>
      <td></td>
      <td></td>
      <td>
        <app-formatted-quantity
          [class.text-danger]="production.ratio.lt(0)"
          [quantity]="production.ratio"
        ></app-formatted-quantity>
      </td>
    </tr>
    <!-- Additive Bonus -->
    <tr *ngIf="bonusAdd?.length > 0">
      <th colspan="4">Additive bonus</th>
    </tr>
    <tr *ngFor="let item of bonusAdd; trackBy: bonusAddId">
      <td class="left">{{ item.base.name }}</td>
      <td>
        <app-formatted-quantity
          [quantity]="item.base.getQuantity()"
        ></app-formatted-quantity>
      </td>
      <td>
        <app-formatted-quantity
          [quantity]="item.quantity"
        ></app-formatted-quantity>
      </td>
      <td>
        <app-formatted-quantity
          [quantity]="item.quantity.times(item.base.getQuantity()).times(100)"
        ></app-formatted-quantity
        >%
      </td>
    </tr>

    <!-- Multiplicative Bonus -->
    <tr>
      <th colspan="4">Multiplicative Bonus</th>
    </tr>
    <tr *ngFor="let item of bonusMulti; trackBy: bonusMulId">
      <td class="left">{{ item.base.name }}</td>
      <td>
        <app-formatted-quantity
          [quantity]="item.base.getQuantity()"
        ></app-formatted-quantity>
      </td>
      <td>
        <app-formatted-quantity
          [quantity]="item.quantity"
        ></app-formatted-quantity>
      </td>
      <td>
        x
        <app-formatted-quantity
          [quantity]="item.quantity.times(item.base.getQuantity()).plus(1)"
        ></app-formatted-quantity>
      </td>
    </tr>

    <!-- Operativity -->
    <tr *ngIf="production">
      <td class="left">
        Operativity
      </td>
      <td></td>
      <td></td>
      <td>
        <app-formatted-quantity
          [quantity]="production.producer.operativity"
        ></app-formatted-quantity>
        %
      </td>
    </tr>
  </tbody>
</table>
