<div class="content-area">
  <router-outlet></router-outlet>
</div>
<clr-vertical-nav [clrVerticalNavCollapsible]="false" [clr-nav-level]="2">
  <a clrVerticalNavLink routerLink="/opt/save" routerLinkActive="active">
    <clr-icon shape="floppy"></clr-icon>
    Save
  </a>
  <a clrVerticalNavLink routerLink="/opt/ui" routerLinkActive="active">
    <clr-icon shape="paint-roller"></clr-icon>
    Ui
  </a>
  <a clrVerticalNavLink routerLink="/opt/noti" routerLinkActive="active">
    <clr-icon shape="bell"></clr-icon>
    Notifications
  </a>
  <!-- <a clrVerticalNavLink
     routerLink="/opt/stats"
     routerLinkActive="active">
    <clr-icon shape="info-standard"></clr-icon>
    Statistics
  </a> -->
  <a clrVerticalNavLink routerLink="/opt/credits" routerLinkActive="active">
    <clr-icon shape="certificate"></clr-icon>
    Credits
  </a>
</clr-vertical-nav>
