.chess tr td {
  width: 1rem;
  height: 1rem;
}
.chess {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
td {
  transition: all 0.5s;
  border: 1px solid #485764;
}
