<h1>Save</h1>

<ng-container *ngIf="ms.kongregate">
  <clr-alert [clrAlertClosable]="false" [clrAlertType]="'alert-warning'">
    <div clr-alert-item class="alert-item">
      <span class="alert-text">
        Cloud Save are experimental! Exporting a backup is recommended.
      </span>
    </div>
  </clr-alert>
  <br />
</ng-container>

<div class="btn-group btn-primary">
  <button class="btn btn-success" (click)="ms.save()">
    <clr-icon shape="floppy"></clr-icon>
    Save
  </button>
  <button class="btn" (click)="ms.load()">
    <clr-icon shape="install"></clr-icon>
    Load
  </button>
  <button class="btn btn-danger" (click)="clearModal = true">
    <clr-icon shape="uninstall"></clr-icon>
    Clear
  </button>
  <button class="btn btn-success" (click)="submit()" *ngIf="ms.kongregate">
    <clr-icon shape="sync"></clr-icon>
    Submit Score
  </button>
</div>

<div class="btn-group btn-primary" *ngIf="ms.kongregate">
  <button class="btn btn-info" (click)="ms.playFabLogin()">
    <clr-icon shape="user"></clr-icon>
    Log PlayFab
  </button>
  <button
    *ngIf="ms.playFabLogged"
    class="btn btn-success"
    (click)="ms.save(false, true)"
  >
    <clr-icon shape="upload-cloud"></clr-icon>
    Cloud Save
  </button>
  <button *ngIf="ms.playFabLogged" class="btn" (click)="ms.loadPlayFab()">
    <clr-icon shape="download-cloud"></clr-icon>
    Cloud Load
  </button>
</div>
<br />
<h3>Auto Save</h3>
<div class="btn-group">
  <div class="radio btn">
    <input
      type="radio"
      name="btn-save-radios"
      id="btn-demo-radio-1"
      value="off"
      (change)="changeAutoSave()"
      [(ngModel)]="os.autoSave"
    />
    <label for="btn-demo-radio-1">OFF</label>
  </div>
  <div class="radio btn">
    <input
      type="radio"
      name="btn-save-radios"
      id="btn-demo-radio-2"
      value="1"
      (change)="changeAutoSave()"
      [(ngModel)]="os.autoSave"
    />
    <label for="btn-demo-radio-2">1 minute</label>
  </div>
  <div class="radio btn">
    <input
      type="radio"
      name="btn-save-radios"
      id="btn-demo-radio-3"
      value="3"
      (change)="changeAutoSave()"
      [(ngModel)]="os.autoSave"
    />
    <label for="btn-demo-radio-3">3 minutes</label>
  </div>
  <div class="radio btn">
    <input
      type="radio"
      name="btn-save-radios"
      id="btn-demo-radio-4"
      value="5"
      (change)="changeAutoSave()"
      [(ngModel)]="os.autoSave"
    />
    <label for="btn-demo-radio-4">5 minutes</label>
  </div>
</div>

<div class="toggle-switch" *ngIf="ms.playFabLogged">
  <input type="checkbox" id="autoPlayFab" [(ngModel)]="os.playFabAutoSave" />
  <label for="autoPlayFab">AutoSave to PlayFab 20 min (in testing)</label>
</div>

<p>
  Last local save: {{ ms.lastSave | date: "medium" }}
  <span *ngIf="ms.lastPlayFabSave > 0"
    >Last PlayFab save:
    {{ ms.lastPlayFabSave | date: "medium" }}
  </span>
</p>
<h2>Export / Import Save</h2>
<textarea name="raw" [(ngModel)]="exp" rows="3"></textarea>
<div class="btn-group btn-primary">
  <button class="btn btn-success" (click)="export()">
    <clr-icon shape="export"></clr-icon>
    Export
  </button>
  <button class="btn" (click)="import()">
    <clr-icon shape="import"></clr-icon>
    Import
  </button>
</div>
<h2>Autosave Options</h2>
<div class="toggle-switch">
  <input type="checkbox" id="t1" [(ngModel)]="os.autosaveNotification" />
  <label for="t1">Autosave Notification</label>
</div>

<clr-modal [(clrModalOpen)]="clearModal">
  <h3 class="modal-title">Clear</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete everything ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="clearModal = false">
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="ms.clear(); clearModal = false"
    >
      Clear
    </button>
  </div>
</clr-modal>
