<h1>Options</h1>
<form clrForm class="clr-form">
  <clr-input-container>
    <label>Your name:</label>
    <input clrInput type="text" [(ngModel)]="ms.options.name" name="name" />
  </clr-input-container>
  <br />

  <div class="form-group">
    <label for="numFormat">Number format</label>
    <div class="select">
      <select
        id="numFormat"
        name="numFormat"
        [(ngModel)]="ms.options.numFormat"
        (change)="onFormatChange()"
      >
        <option value="standard">Standard</option>
        <option value="scientific">Scientific</option>
        <option value="engineering">Engineering</option>
        <option value="longScale">Long Scale</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="selects_1">Header color</label>
    <div class="select">
      <select
        name="header"
        id="selects_1"
        [(ngModel)]="ms.options.header"
        (change)="os.reloadHeader()"
      >
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
    </div>
  </div>

  <clr-toggle-wrapper>
    <input
      type="checkbox"
      clrToggle
      id="dark"
      name="dark"
      [(ngModel)]="ms.options.dark"
      (change)="ms.setTheme()"
    />
    <label>Dark Theme</label>
  </clr-toggle-wrapper>
  <br />

  <clr-toggle-wrapper>
    <input
      type="checkbox"
      clrToggle
      name="format"
      id="format"
      [(ngModel)]="ms.options.usaFormat"
      (change)="onFormatChange()"
    />
    <label>Alternative number format</label>
  </clr-toggle-wrapper>
  <br />

  <clr-toggle-wrapper>
    <input
      type="checkbox"
      clrToggle
      name="si"
      id="si"
      id="si"
      [(ngModel)]="ms.options.showI"
    />
    <label>Show I on new units</label>
  </clr-toggle-wrapper>
  <br />

  <clr-toggle-wrapper>
    <input
      type="checkbox"
      clrToggle
      name="time"
      id="time"
      [(ngModel)]="os.timeFormatDetail"
    />
    <label>Time in strict units</label>
  </clr-toggle-wrapper>
  <br />

  <clr-toggle-wrapper>
    <input
      type="checkbox"
      clrToggle
      name="hot"
      id="hot"
      [(ngModel)]="os.hotKeyAlert"
    />
    <label>HotKey disabled info closed</label>
  </clr-toggle-wrapper>
  <br />

  <clr-toggle-wrapper>
    <input
      type="checkbox"
      clrToggle
      name="navCap"
      id="navCap"
      [(ngModel)]="OptionsService.navalCapNotification"
    />
    <label>Max Naval cap message on warrior page</label>
  </clr-toggle-wrapper>
  <br />

  <clr-toggle-wrapper>
    <input
      type="checkbox"
      clrToggle
      name="hideRef"
      id="hideRef"
      [(ngModel)]="os.hideRefund"
    />
    <label>Hide refund</label>
  </clr-toggle-wrapper>
  <br />

  <clr-toggle-wrapper>
    <input
      type="checkbox"
      clrToggle
      name="noAuto"
      id="noAuto"
      [(ngModel)]="OptionsService.noAutomatorOff"
    />
    <label>Don't disable automators on prestige</label>
  </clr-toggle-wrapper>
  <br />
</form>
