<h1>Options</h1>
<form clrForm class="clr-form clr-form-compact">
  <div class="form-group">
    <label for="t1">Dark Theme:</label>
    <div class="toggle-switch">
      <input
        name="dark"
        type="checkbox"
        id="dark"
        [(ngModel)]="ms.options.dark"
        (change)="ms.setTheme()"
      />
      <label for="dark"></label>
    </div>
  </div>

  <div class="form-group">
    <label for="selects_1">Header color</label>
    <div class="select">
      <select
        name="header"
        id="selects_1"
        [(ngModel)]="ms.options.header"
        (change)="os.reloadHeader()"
      >
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="t1">Alternative number format:</label>
    <div class="toggle-switch">
      <input
        type="checkbox"
        id="format"
        name="format"
        [(ngModel)]="ms.options.usaFormat"
        (change)="onFormatChange()"
      />
      <label for="format"></label>
    </div>
  </div>

  <div class="form-group">
    <label for="numFormat">Number format:</label>
    <div class="select">
      <select
        id="numFormat"
        name="numFormat"
        [(ngModel)]="ms.options.numFormat"
        (change)="onFormatChange()"
      >
        <option value="standard">Standard</option>
        <option value="scientific">Scientific</option>
        <option value="engineering">Engineering</option>
        <option value="longScale">Long Scale</option>
      </select>
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="matPos">Materials position:</label>
    <div class="select">
      <select
        id="matPos"
        name="matPos"
        [(ngModel)]="os.materialPosition"
        (change)="onChangeMaterialPos()"
      >
        <option value="1">Both</option>
        <option value="2">Top</option>
        <option value="3">Side</option>
      </select>
    </div>
  </div> -->

  <div class="form-group">
    <label for="si">Show I on new units:</label>
    <div class="toggle-switch">
      <input name="si" type="checkbox" id="si" [(ngModel)]="ms.options.showI" />
      <label for="si"></label>
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="nr">Disable notification for unit ending:</label>
    <div class="toggle-switch">
      <input
        name="nr"
        type="checkbox"
        id="nr"
        [(ngModel)]="os.noResourceEndPopUp"
      />
      <label for="nr"></label>
    </div>
  </div> -->

  <div class="form-group">
    <label for="wn">Time in strict units:</label>
    <div class="toggle-switch">
      <input
        name="time"
        type="checkbox"
        id="time"
        [(ngModel)]="os.timeFormatDetail"
      />
      <label for="time"></label>
    </div>
  </div>
</form>
