<h1>Fleet</h1>
<p>
  In the Shipyard tab you can reinforce your fleet and make new ship designs.
  For now just drag the Corvette slider to max and click Reinforce fleet. You
  must have Foundry Drones and Worker Drones to complete the job.
  Congratulations, You have your first fleet!
</p>
<h3>Ship Design</h3>
<p>
  You can create and modify ships design. Ships have these specifications:
</p>
<ul class="list">
  <li>
    <strong>Armor</strong>: Health, Run out of this and the ship is destroyed.
  </li>
  <li><strong>Shield</strong>: Takes damage before Armor.</li>
  <li><strong>Energy</strong>: Must be positive, has no effect in battle.</li>
  <li><strong>Damage</strong>: Average damage, see modules for more info.</li>
  <li>
    <strong>Explosion Chance</strong>: The armor threshold where your ship may
    explode (lower is better).
  </li>
  <li><strong>Price</strong>: Price of one ship in Alloy.</li>
</ul>
<p>
  Ships designs are a list of modules, bigger ships can have more modules.
  Designs are limited by module count and module points. Modules can have
  different sizes, Larger sizes cost more points.
</p>
<h6>Weapons</h6>
<ul class="list">
  <li>
    <strong>Laser</strong>: Starting weapon, anti armor, 75% vs shield, 125% vs
    armor.
  </li>
  <li><strong>Plasma</strong>: Anti-Armor, 30% vs shield, 170% vs armor.</li>
  <li>
    <strong>Disintegrator</strong>: Anti-Armor, 10% damage bonus but doesn't
    damage shields, 0% vs shield, 210% vs armor.
  </li>
  <li>
    <strong>Mass Driver</strong>: Anti-Shield, 125% vs shield, 75% vs armor
  </li>
  <li>
    <strong>Gauss Rifle</strong>: Anti-Shield, 170% vs shield, 30% vs armor
  </li>
  <li>
    <strong>Rail Gun</strong>: Anti-Shield, 10% damage bonus but doesn't damage
    armor, 210% vs shield, 0% vs armor
  </li>
</ul>
<h6>Energy</h6>
<ul class="list">
  <li>
    <strong>Solar Panel</strong>: Cheap and doesn't increases explosion chance.
  </li>
  <li>
    <strong>RTG</strong>: Gives more energy than Solar, Costs more and increases
    explosion chance.
  </li>
  <li>
    <strong>Fusion Reactor</strong>: Gives more energy than RTG, Costs more and
    increases explosion chance.
  </li>
</ul>
<h6>Defense</h6>
<ul class="list">
  <li><strong>Armor</strong>: Basic defense, doesn't consume energy.</li>
  <li><strong>Shield</strong>: Takes damage before armor, consumes energy.</li>
</ul>
<h3>Battle</h3>
<p>
  Battles calculate every ship individually, so if you have 1000 ships 1000 will
  be simulated. Battles consist of up to five rounds, fleets start with maximum
  armor and shields. In each round, all participating units randomly choose a
  target enemy unit.
  <br />
  For each weapon of each ship:
</p>
<ul class="list">
  <li>
    If the damage * shield percent is lower than 0.1% of target shield no damage
    is done.
  </li>
  <li>
    Enemy shield gets damaged, then if shield is zero damage is done to Armor
    (with armor damage percent of the weapon)
  </li>
  <li>
    If target armor percent is less than (100% - target Explosion Chance) there
    is a chance that target explode (armor set to -1; can still be shot by the
    other units on this round)
  </li>
</ul>
<p>
  Destroyed units are removed and a new round starts. Note tha explosion chance
  is calculated on each shot and ships may waste attacks on exploded ships.
  Finally if one side has zero ships the other wins. Enemies do not rebuild
  ships.
</p>
<h3>Planetary Defenses</h3>
<p>
  From level 9 enemies will have planetary defenses in addition to regular
  fleets. In battle Planetary Defense work exactly like ships in fleets.
  Planetary defense can also be destroyed by your Missiles. Missiles are
  unlocked with research. You can manually nuke or use the Auto Nuke options.
  Nuke will use the minimum number of missiles to destroy all enemy defenses, if
  the nuke button is green you have enoughs missiles to destroy all enemy
  defenses.
</p>
