<h1>
  {{ res?.name }}
  <span class="monospace" style="margin-left: 1rem;">
    {{ res.quantity | format }}</span
  >
  <span class="monospace" *ngIf="res.isLimited">
    / {{ res.limit | format }}</span
  >
</h1>

<clr-tabs *ngIf="res">
  <clr-tab>
    <button clrTabLink id="link1">Overview</button>
    <clr-tab-content id="content1">
      <!-- <app-unit [unit]="unit"></app-unit> -->
      <app-resource-overview [res]="res"></app-resource-overview>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
