<h1>
  <clr-icon
    [attr.shape]="res.shape"
    *ngIf="res.shape"
    size="48"
    class="resIcon"
  ></clr-icon>
  {{ res?.name }}
  <span style="margin-left: 1rem;" [ngClass]="{ notEnough: res.isCapped }">
    <app-formatted-quantity [quantity]="res.quantity" [integer]="true">
    </app-formatted-quantity>
  </span>
  <span *ngIf="res.isLimited" [ngClass]="{ notEnough: res.isCapped }">
    /<app-formatted-quantity [quantity]="res.limit" [integer]="true">
    </app-formatted-quantity>
  </span>
</h1>
<div>
  <clr-tabs *ngIf="res">
    <clr-tab>
      <button clrTabLink id="link1">Overview</button>
      <clr-tab-content id="content1" *clrIfActive>
        <app-resource-overview [res]="res"></app-resource-overview>
      </clr-tab-content>
    </clr-tab>

    <clr-tab *ngIf="ms.game.researchManager.modding.firstDone && res.modStack">
      <button clrTabLink id="link1">Mods</button>
      <clr-tab-content id="mod-" *clrIfActive>
        <app-modding [res]="res"></app-modding>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>
