<div class="content-area">
  <h1>Prestige</h1>

  <div class="clr-row">
    <div class="clr-col">
      <br />
      <table class="">
        <tr *ngFor="let row of ms.game.prestigeManager.skills; trackByRow">
          <td *ngFor="let skill of row; trackByCell">
            <button
              class="btn btn-icon noMargin"
              [disabled]="!skill.buyable"
              [ngClass]="{ 'btn-success-outline': skill.owned }"
              [title]="skill.effect.getDescription()"
              (click)="openBuyModal(skill)"
            >
              <clr-icon [attr.shape]="skill.effect.shape" size="24"></clr-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>

    <div class="clr-col">
      <h4>
        Available Points:
        {{
          ms.game.prestigeManager.totalPrestige -
            ms.game.prestigeManager.usedPrestige
        }}
      </h4>
      <button class="btn btn-primary" (click)="prestige()">Prestige</button>
      <ul class="list" *ngFor="let desc of skillsList; trackBy: descID">
        <li>{{ desc }}</li>
      </ul>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="prestigeModal">
  <h3 class="modal-title">
    Skill
  </h3>
  <div class="modal-body" *ngIf="selectedSkill">
    <p>Buy {{ selectedSkill.effect.getDescription() }} ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="close()">
      Cancel
    </button>
    <button type="button" class="btn btn-success" (click)="buy()">
      Ok
    </button>
  </div>
</clr-modal>
