<h1>
  Prestige
  <app-formatted-quantity
    [quantity]="ms.game.prestigeManager.totalPrestige"
    [integer]="true"
  ></app-formatted-quantity>
  &nbsp;&nbsp;&nbsp; Ascension
  <app-formatted-quantity
    [quantity]="ms.game.prestigeManager.ascension"
    [integer]="true"
  ></app-formatted-quantity>
  <!-- /
    <span class="monospace">2</span> -->
</h1>

<div class="clr-row full-height">
  <div class="clr-col">
    <h4>
      Available Points
      <a
        role="tooltip"
        aria-haspopup="true"
        class="tooltip tooltip-md tooltip-bottom-right"
      >
        <clr-icon shape="info-circle" size="24"></clr-icon>
        <span class="tooltip-content"
          >Get more by defeating MAX LEVEL enemies</span
        >
      </a>
      :
      <app-formatted-quantity
        [quantity]="availableSkill.quantity"
        [integer]="true"
      ></app-formatted-quantity>
    </h4>

    <!-- [disabled]="
          ms.game.enemyManager.maxLevel <= ms.game.prestigeManager.totalPrestige
        " -->
    <div class="btn-group btn-primary">
      <button class="btn btn-primary" (click)="prestigeModal = true">
        Prestige
        <span *ngIf="ms.game.prestigeManager.prestigeToEarn > 0"
          >+
          {{ ms.game.prestigeManager.prestigeToEarn }}
        </span>
      </button>
      <button
        *ngIf="canAscend"
        class="btn btn-success"
        (click)="ascendModal = true"
      >
        Ascend
      </button>
    </div>
    <a [routerLink]="'/autoTable'">Automators</a>
    <clr-checkbox-container>
      <clr-checkbox-wrapper>
        <input
          type="checkbox"
          clrCheckbox
          value="resetPr"
          name="resetPr"
          [(ngModel)]="ms.game.resetPrestige"
        />
        <label>Reset Prestige</label>
      </clr-checkbox-wrapper>
    </clr-checkbox-container>
    <ul class="list" *ngFor="let desc of skillsList; trackBy: descID">
      <li>{{ desc }}</li>
    </ul>
  </div>
</div>

<!-- Prestige Modal -->
<clr-modal [(clrModalOpen)]="prestigeModal">
  <h3 class="modal-title">
    Prestige
  </h3>
  <div class="modal-body">
    <p>
      Everything except prestige Skills and Dark Matter will reset.
      <br />
      You will get
      {{ ms.game.prestigeManager.prestigeToEarn }}
      Skill Points and
      <app-formatted-quantity
        [quantity]="ms.game.resourceManager.inactiveDarkMatter.quantity"
        [integer]="true"
      >
      </app-formatted-quantity>

      {{ ms.game.darkMatterManager.darkMatter.name }}
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="prestigeModal = false"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="prestige()">
      Prestige
    </button>
  </div>
</clr-modal>

<!-- Ascend Modal -->
<clr-modal [(clrModalOpen)]="ascendModal">
  <h3 class="modal-title">
    Ascension
  </h3>
  <div class="modal-body">
    <p>
      Everything including prestige Skills but Dark Matter will reset.
      <br />
      You will get double effects from Skill Points and +30% Automator Level.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="ascendModal = false">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="ascend()">
      Ascend
    </button>
  </div>
</clr-modal>
