<a
  [routerLink]="id !== 'naval' ? ['/home/res/' + id] : ['/fleet/design']"
  class="nav-link matLink clr-row clr-justify-content-between"
  routerLinkActive="active"
  [ngClass]="{ red: isEnding }"
>
  <span>
    <clr-icon
      [attr.shape]="shape"
      *ngIf="shape"
      class="resIcon"
      [ngClass]="{ 'is-error': isEnding, 'is-info': cog }"
    ></clr-icon>
    <!-- <clr-icon
      class="is-error is-solid"
      shape="exclamation-triangle"
      *ngIf="isEnding"
    ></clr-icon>
    <clr-icon class="is-info is-solid" shape="cog" *ngIf="cog"></clr-icon> -->
    <span [class.notEnough]="cap">
      <app-formatted-quantity
        *ngIf="showQta"
        [quantity]="quantity"
      ></app-formatted-quantity>
    </span>
  </span>

  <span *ngIf="c" class="perSecTab  monospace clr-col clr-align-self-end">
    <span *ngIf="c && c.abs().gt(0.001)" [ngClass]="{ notEnough: c.lt(0) }">
      <app-formatted-quantity [quantity]="c"> </app-formatted-quantity>/s
    </span>
  </span>

  <span *ngIf="limit" class="perSecTab  monospace clr-col clr-align-self-end">
    <span>
      / <app-formatted-quantity [quantity]="limit"> </app-formatted-quantity>
    </span>
  </span>
</a>
