<ul class="list-unstyled">
  <li *ngIf="res.navalCapacity > 0">
    <span class="font-weight-bold">Naval Capacity </span>
    <span class="text-success"> +{{ res.navalCapacity }}</span>
  </li>
  <li *ngIf="res.ship">
    <span class="font-weight-bold">New Ship Type:</span>
    {{ res.ship.name }}
  </li>
  <li *ngIf="res.module">
    <span class="font-weight-bold">Ship Module:</span>
    {{ res.module.name }}
  </li>
  <li *ngFor="let bon of res.bonus; trackBy: getBonId">
    <span class="font-weight-bold"> {{ bon[0] }}: </span>
    <span class="text-success">{{ bon[1] }}</span>
  </li>
  <li *ngFor="let cla of res.classes; trackBy: getClaId">
    <span class="font-weight-bold">Ship Class:</span>
    {{ cla.name }}
  </li>
  <ng-component *ngIf="!res.firstDone">
    <li *ngFor="let unl of res.toUnlock; trackBy: getId">
      <span class="font-weight-bold">Unlock {{ getType(unl) }}:</span>
      {{ unl.name }}
    </li>
  </ng-component>
</ul>
