<h1>Prestige</h1>
<p>
  The Prestige tab is unlocked by completely defeating the first enemy (clearing
  all 100 cells). Prestige will reset your game but give you additional skill
  points to spend in the Prestige Skill Tree. The number of points you gain is
  equal to the highest level enemy defeated plus ascension_level, subtracting
  your current prestige level. To get more points, defeat higher level enemies.
  <br />
  By defeating enemies of level >=2 you will gain Inactive dark matter. When you
  prestige this dark matter will become activated, and you can use this Dark
  Matter to time warp. 60 units of Dark Matter equals one minute of time
  skipped. Automators and Battle will not occur in the skipped time.
  <br />

  Prestige will also unlock Automators.
</p>
