<div class="card-block">
  <div class="clr-row clr-align-items-center">
    <div class="researchIcon" *ngIf="enemy.shape">
      <clr-icon [attr.shape]="enemy.shape" size="36"></clr-icon>
    </div>

    <div class="clr-col">
      <h4 class="card-title">
        {{ enemy.name }}
      </h4>
      <p class="card-text">
        Level:
        <app-formatted-quantity
          [quantity]="enemy.level"
          [integer]="true"
        ></app-formatted-quantity>

        Fleet Power:
        <app-formatted-quantity
          [quantity]="enemy.totalFleetPower"
        ></app-formatted-quantity>
      </p>
    </div>
  </div>
</div>
