<div
  class="content-area"
  *ngIf="ms.game.enemyManager.currentEnemy; else noEnemy"
>
  <div class="clr-row" *ngIf="ms.game.enemyManager.currentEnemy">
    <div class="clr-col-12 clr-col-md-7">
      <h1>
        <clr-icon
          [attr.shape]="ms.game.enemyManager.currentEnemy?.shape"
          size="48"
          class="resIcon"
        ></clr-icon>
        {{ ms.game.enemyManager.currentEnemy?.name }}
      </h1>
      <br />
      <!-- <p>Level: {{ ms.game.enemyManager.currentEnemy.level }}</p> -->

      <div class="btn-group ">
        <button
          class="btn btn-success"
          (click)="startBattle()"
          [disabled]="ms.game.enemyManager.inBattle"
          [disabled]="!ms.game.fleetManager.fightEnabled"
        >
          <clr-icon shape="ship"></clr-icon>
          Fight
        </button>
        <button
          class="btn btn-primary"
          [ngClass]="{
            'btn-success': ms.game.enemyManager.nukeAction.nukeAll,
            'btn-primary': !ms.game.enemyManager.nukeAction.nukeAll
          }"
          *ngIf="ms.game.enemyManager.currentEnemy.level > 8"
          [disabled]="ms.game.enemyManager.nukeAction.maxBuy.lte(0)"
          (click)="nuke(ms.game.enemyManager.nukeAction.maxBuy)"
        >
          <clr-icon shape="missile"></clr-icon>
          Nuke
          <app-formatted-quantity
            [quantity]="ms.game.enemyManager.nukeAction.maxBuy"
            [integer]="true"
          ></app-formatted-quantity>
        </button>
        <button class="btn btn-danger" (click)="surrenderModal = true">
          <clr-icon shape="trash"></clr-icon>
          Surrender
        </button>
      </div>

      <div class="btn-group">
        <div class="checkbox btn">
          <input
            type="checkbox"
            id="btn-demo-check-1"
            [(ngModel)]="ms.game.fleetManager.autoFight"
          />
          <label for="btn-demo-check-1">Auto Fight</label>
        </div>
        <div class="checkbox btn">
          <input
            type="checkbox"
            id="btn-demo-check-2"
            [(ngModel)]="ms.game.fleetManager.autoReinforce"
          />
          <label for="btn-demo-check-2">Auto Reinforce</label>
        </div>
        <div
          class="checkbox btn"
          *ngIf="ms.game.enemyManager.currentEnemy.level > 8"
        >
          <input
            type="checkbox"
            id="check-3"
            [(ngModel)]="ms.game.enemyManager.autoNuke"
          />
          <label for="check-3">Auto Nuke</label>
        </div>
        <div class="checkbox btn">
          <input
            type="checkbox"
            id="check-next"
            title="Auto proceed to next enemy."
            [(ngModel)]="ms.game.enemyManager.autoNext"
          />
          <label for="check-next">Auto Next</label>
        </div>
      </div>

      <form clrForm clrLayout="compact">
        <clr-input-container>
          <label
            >Auto Fight min %
            <!-- <clr-signpost>
              <clr-signpost-content *clrIfOpen>
                <h3>Auto Fight %</h3>
                <p>
                  Minimum percentage of actual fleet capacity needed to auto
                  fight. 100 equals to fight only at full fleet.
                </p>
              </clr-signpost-content>
            </clr-signpost> -->
          </label>

          <input
            clrInput
            placeholder="100"
            name="autoPerc"
            type="number"
            min="0"
            max="100"
            [(ngModel)]="ms.game.fleetManager.autoFightPer"
          />
        </clr-input-container>
      </form>

      <!-- <br /><br /> -->
      <app-battlefield
        [enemy]="ms.game.enemyManager.currentEnemy"
      ></app-battlefield>
    </div>
    <div class="clr-col-12 clr-col-md-5">
      <h4>You</h4>
      <app-fleet-table [fleet]="ms.game.fleetManager.ships"></app-fleet-table>
      <h4>Enemy</h4>
      <app-fleet-table
        [fleet]="ms.game.enemyManager.currentEnemy.currentZone.ships"
      ></app-fleet-table>
    </div>
  </div>
</div>

<!-- Surrender enemy modal -->
<clr-modal [(clrModalOpen)]="surrenderModal">
  <h3 class="modal-title">Surrender</h3>
  <div class="modal-body">
    <p>
      {{ ms.game.enemyManager.currentEnemy?.name }} will be deleted. You will be
      able to attack other enemies. There are no penalties.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="surrenderModal = false"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="surrender()">
      Surrender
    </button>
  </div>
</clr-modal>

<ng-template #noEnemy>
  <div class="content-area">
    <clr-alert [clrAlertClosable]="false">
      <clr-alert-item>
        <span class="alert-text">
          You are not attacking any enemy.
          <a [routerLink]="'/enemies/search'">Search for an enemy</a>
        </span>
      </clr-alert-item>
    </clr-alert>
  </div>
</ng-template>
