<div class="content-area">
  <h1>
    <clr-icon
      [attr.shape]="ms.game.enemyManager.currentEnemy?.shape"
      *ngIf="ms.game.enemyManager.currentEnemy?.shape"
      size="48"
      class="resIcon"
    ></clr-icon>
    {{ ms.game.enemyManager.currentEnemy?.name }}
  </h1>
  <div class="clr-row" *ngIf="ms.game.enemyManager.currentEnemy">
    <div class="clr-col-6">
      <br />
      <div class="btn-group btn-primary">
        <button class="btn" (click)="startBattle()">
          <clr-icon shape="floppy"></clr-icon>
          Fight
        </button>
        <button class="btn btn-danger" (click)="surrenderModal = true">
          <clr-icon shape="trash"></clr-icon>
          Surrender
        </button>
      </div>
      <br />
      <br />
      <app-battlefield
        [enemy]="ms.game.enemyManager.currentEnemy"
      ></app-battlefield>
    </div>
    <div class="clr-col-6">
      <h4>Ships:</h4>
      <app-fleet-table
        [fleet]="ms.game.enemyManager.currentEnemy.currentZone.ships"
      ></app-fleet-table>
    </div>
  </div>
</div>

<!-- Surrender enemy modal -->
<clr-modal [(clrModalOpen)]="surrenderModal">
  <h3 class="modal-title">Surrender</h3>
  <div class="modal-body">
    <p>
      {{ ms.game.enemyManager.currentEnemy?.name }} will be deleted. You will be
      able to attack other enemies. There are no penalties.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="surrenderModal = false"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="surrender()">
      Surrender
    </button>
  </div>
</clr-modal>
