<div class="clr-row clr-justify-content-center">
  <div
    class="clr-col-12 clr-col-sm-12 clr-col-md-11 clr-col-lg-11 clr-col-xl-9"
  >
    <h1>Start</h1>
    <p>
      The first thing to do is to buy Mining Drones and Crystal Drones and
      Technicians as needed. Than you should buy an Energy Plant to be able to
      get more Technician. Than buy some Computing Unit, Research tab will
      appear.
      <br />
      If you end the energy all Robots will stop! so make sure you have enough
      energy.
    </p>
  </div>
</div>
