<h1>Start</h1>
<p>
  The first thing to do is to buy Mining Drones, Crystal Drones, and Technicians
  as needed. Then you should buy an Energy Plant to be able to get more
  Technicians. Then buy some Computing Units and use the Research Tab.
  <br />
  If you run out of energy all drones will stop! so make sure you have enough
  energy.
</p>
<h3>Production</h3>
You can adjust production with the "Operativity" slider. On the right a table
show the production details. Click on > to expand and see how production is calculated.

<h3>How to Start</h3>
<ul>
  <li>Mining Drones, Crystal Drones, and Technicians as needed</li>
  <li>
    Buy Computing Units but focus on resource production; get at least 10
    Mining Drones and Crystal Drones, see the laboratory tab.
  </li>
  <li>Research Corvette, Foundry Drone and Worker Drone</li>
  <li>
    Click the cog on top left, drag the corvette slider to max and click
    "reinforce fleet" to create your first fleet
  </li>
  <li>
    Click the crosshairs top left, activate auto fight and auto reinforce (not
    mandatory but recommended). By winning battles you will gain districts and
    other resources.
  </li>
  <li>
    Improve and adapt your fleet:
    <ul>
      <li>Level 1 is a tutorial, equip plasma or disintegrator and shield</li>
      <li>
        Get more naval capacity from Warrior Drones, and research more advanced ship
        types!
      </li>
    </ul>
  </li>
  <li>
    Check the other info and the FAQ thread on the Kongregate forum.
  </li>
</ul>
