<h1>Start</h1>
<p>
  The first thing to do is to buy Mining Drones, Crystal Drones, and Technicians
  as needed. Then you should buy an Energy Plant to be able to get more
  Technician. Then buy some Computing Unit, Research tab will appear.
  <br />
  If you end the energy all Robots will stop! so make sure you have enough
  energy.
</p>
<h3>Production</h3>
You can adjust production with the "Operativity" slider. On the right a table
show the production details. Click on > to expand and see how is calculated.
