<h1>Credits</h1>
<p>
  The game uses Angular and Clarity Design System. Icons are from Clarity and
  https://game-icons.net
  <a
    target="_blank"
    href="https://github.com/scorzy/IdleSpace/blob/master/package.json"
    >list of used package</a
  >.
</p>

<ul lass="list">
  <li>
    Code
    <a target="_blank" href="https://github.com/scorzy/IdleSpace"
      >https://github.com/scorzy/IdleSpace</a
    >
  </li>
  <li>
    Discord
    <a target="_blank" href="https://discord.gg/CGEfHGe"
      >https://discord.gg/CGEfHGe</a
    >
  </li>
</ul>

<p>
  You can contact me on Discord, Kongregate, Reddit (i'm Verbus) or Github. For
  bug reporting opening an issue on Github is optimal.<br />
  If you want to make a donation to support the development you can use PayPal.
</p>
<a target="_blank" href="https://scorzy.github.io/IdleSpace/about.html"
  >Donation link
</a>
