<a
  [routerLink]="['/home/res/' + id]"
  clrVerticalNavLink
  routerLinkActive="active"
>
  <span class="clr-row clr-justify-content-between">
    <span class="resLeft">
      <clr-icon [attr.shape]="shape" *ngIf="shape"></clr-icon>&nbsp;
      <span class="resName">
        {{ name }}
        <!-- <clr-icon
        class="is-info is-solid"
        shape="angle"
        *ngIf="!isMalus && team"
        (click)="unit.teamAction.buy()"
      ></clr-icon> -->
        <!-- <clr-icon
        class="is-info is-solid"
        shape="angle-double"
        *ngIf="!isMalus && twin"
        (click)="unit.twinAction.buy()"
      ></clr-icon> -->
        <clr-icon
          class="is-warning is-solid"
          shape="pause"
          *ngIf="operativity <= 0"
          (click)="unit.operativity = 100"
        ></clr-icon>
        <clr-icon
          class="is-error is-error is-solid"
          shape="exclamation-triangle"
          *ngIf="isEnding"
        ></clr-icon>
        <clr-icon
          class="is-info is-solid"
          shape="info-standard"
          *ngIf="os.showI && isNew"
        ></clr-icon>
      </span>
    </span>
    <span *ngIf="quantity.abs().gt(0.001)" class="qta monospace">
      {{ quantity | format }}
    </span>
    <span class="perSec monospace">
      <span *ngIf="c.abs().gt(0.001)" [class.notEnough]="isEnding">
        {{ c | format }}/s
      </span>
      &nbsp;
    </span>
  </span>
</a>
