<h1>
  <clr-icon shape="world" size="48" class="resIcon"></clr-icon>
  Search new worlds
</h1>

<clr-tabs>
  <clr-tab>
    <button clrTabLink>Searching</button>
    <clr-tab-content *clrIfActive>
      <div class="clr-row">
        <div
          class="clr-col-12	clr-col-sm-12	clr-col-md-12	clr-col-lg-6 clr-col-xl-6"
        >
          <p>
            Here you can search for new worlds.
            <span>
              Max level:
              {{ ms.game.enemyManager.maxLevel }}
            </span>
          </p>

          <clr-alert
            *ngIf="
              ms.game.resourceManager.searchX1.quantity.lte(0);
              else progress
            "
            [clrAlertType]="'warning'"
            [clrAlertClosable]="false"
          >
            <clr-alert-item>
              <span class="alert-text">
                You don't have any
                <a [routerLink]="'/home/res/X1'"
                  >{{ ms.game.resourceManager.searchX1.name }}
                </a>
              </span>
            </clr-alert-item>
          </clr-alert>

          <ng-template #progress>
            Progress:
            <app-polynom
              [c]="ms.game.resourceManager.searchProgress.c"
            ></app-polynom>
            <br />
          </ng-template>

          <form clrForm>
            <clr-input-container>
              <label>Level </label>
              <input
                clrInput
                type="number"
                [(ngModel)]="ms.game.userSearchLevel"
                name="level"
                required
                [max]="ms.game.enemyManager.maxLevel"
                min="1"
              />
              <clr-control-error
                >Must be a number (1 -
                {{ ms.game.enemyManager.maxLevel }})</clr-control-error
              ></clr-input-container
            >
            <input
              type="range"
              [name]="'sln'"
              min="1"
              [max]="ms.game.enemyManager.maxLevel"
              step="1"
              [(ngModel)]="ms.game.userSearchLevel"
            />
          </form>

          <!-- Search options -->
          <div class="btn-group" *ngIf="moreSearch">
            <div class="checkbox btn" *ngIf="metal">
              <input
                type="checkbox"
                id="btn-mmd"
                [(ngModel)]="ms.game.enemyManager.moreMetal"
                [disabled]="
                  !ms.game.enemyManager.moreMetal && this.bonusCount >= 3
                "
              />
              <label for="btn-mmd">
                <clr-icon
                  [attr.shape]="ms.game.resourceManager.miningDistrict.shape"
                ></clr-icon>
              </label>
            </div>
            <div class="checkbox btn" *ngIf="cry">
              <input
                type="checkbox"
                id="btn-mcd"
                [(ngModel)]="ms.game.enemyManager.moreCrystal"
                [disabled]="
                  !ms.game.enemyManager.moreCrystal && this.bonusCount >= 3
                "
              />
              <label for="btn-mcd">
                <clr-icon
                  [attr.shape]="ms.game.resourceManager.crystalDistrict.shape"
                ></clr-icon
              ></label>
            </div>
            <div class="checkbox btn" *ngIf="hab">
              <input
                type="checkbox"
                id="btn-mhs"
                [(ngModel)]="ms.game.enemyManager.moreHabitable"
                [disabled]="
                  !ms.game.enemyManager.moreHabitable && this.bonusCount >= 3
                "
              />
              <label for="btn-mhs">
                <clr-icon
                  [attr.shape]="ms.game.resourceManager.habitableSpace.shape"
                ></clr-icon
              ></label>
            </div>
            <div class="checkbox btn" *ngIf="hab2">
              <input
                type="checkbox"
                id="btn-mhs2"
                [(ngModel)]="ms.game.enemyManager.moreHabitable2"
                [disabled]="
                  !ms.game.enemyManager.moreHabitable2 && this.bonusCount >= 3
                "
              />
              <label for="btn-mhs2">
                <clr-icon
                  [attr.shape]="ms.game.resourceManager.habitableSpace.shape"
                ></clr-icon
              ></label>
            </div>
            <div class="checkbox btn" *ngIf="rand">
              <input
                type="checkbox"
                id="btn-rand"
                [(ngModel)]="ms.game.enemyManager.randomized"
              />
              <label for="btn-rand">
                <clr-icon shape="random"></clr-icon
              ></label>
            </div>
          </div>

          <clr-alert
            *ngIf="!limited"
            [clrAlertType]="'warning'"
            [clrAlertClosable]="false"
            class="smallMarginBot"
          >
            <clr-alert-item>
              <span class="alert-text">
                Limit reached, you can have a maximum of 10 enemy at time.
              </span>
            </clr-alert-item>
          </clr-alert>

          <clr-alert
            *ngIf="valid"
            [clrAlertType]="'info'"
            [clrAlertClosable]="false"
            class="smallMarginBot"
          >
            <clr-alert-item>
              <span class="alert-text">
                Searching will cost:
                <app-price-line
                  [canBuy]="true"
                  [unit]="ms.game.resourceManager.searchProgress"
                  [price]="
                    ms.game.enemyManager.getRequiredSearch(
                      ms.game.userSearchLevel
                    )
                  "
                ></app-price-line>
              </span>
            </clr-alert-item>
          </clr-alert>

          <div class="btn-group smallMarginBot">
            <button
              class="btn btn-success"
              (click)="generate()"
              [disabled]="!isValid()"
            >
              Search
            </button>
            <button
              class="btn btn-warning"
              (click)="deleteModal = true"
              [disabled]="ms.game.enemyManager.allEnemy.length === 0"
            >
              Mass Delete
            </button>
            <button
              class="btn btn-danger"
              (click)="deleteAllModal = true"
              [disabled]="ms.game.enemyManager.allEnemy.length === 0"
            >
              Delete All
            </button>
          </div>
          <br />
          <div class="btn-group smallMarginBot">
            <button
              class="btn btn"
              (click)="sortAsc()"
              [disabled]="ms.game.enemyManager.allEnemy.length === 0"
            >
              Sort Asc
            </button>
            <button
              class="btn btn"
              (click)="sortDesc()"
              [disabled]="ms.game.enemyManager.allEnemy.length === 0"
            >
              Sort Desc
            </button>
          </div>

          <clr-toggle-wrapper>
            <input
              type="checkbox"
              clrToggle
              [(ngModel)]="EnemyManager.NewOnTop"
              name="newTop"
            />
            <label>New on top</label>
          </clr-toggle-wrapper>
        </div>

        <div
          class="clr-col-12	clr-col-sm-12	clr-col-md-12	clr-col-lg-6 clr-col-xl-6"
        >
          <h4>Jobs:</h4>
          <div
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            class="myBg drag-list"
          >
            <app-job
              cdkDrag
              *ngFor="
                let job of ms.game.enemyManager.searchJobs;
                trackBy: getJobId
              "
              [job]="job"
            ></app-job>
          </div>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab *ngIf="automatorTab">
    <button clrTabLink>Automation</button>
    <clr-tab-content *clrIfActive>
      <app-search-auto></app-search-auto>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<!-- Delete Modal -->
<clr-modal [(clrModalOpen)]="deleteModal" [clrModalSize]="'sm'">
  <h3 class="modal-title">Mass Delete</h3>
  <div class="modal-body">
    <p>
      Delete all enemy with level lower than
      <app-formatted-quantity
        [quantity]="ms.game.userSearchLevel"
        [integer]="true"
      ></app-formatted-quantity
      >?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="deleteModal = false">
      Cancel
    </button>
    <button type="button" class="btn btn-warning" (click)="massDelete()">
      Delete
    </button>
  </div>
</clr-modal>

<!-- Delete All Modal -->
<clr-modal [(clrModalOpen)]="deleteAllModal" [clrModalSize]="'sm'">
  <h3 class="modal-title">Delete All</h3>
  <div class="modal-body">
    <p>
      Delete all enemy?
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="deleteAllModal = false"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-warning" (click)="deleteAll()">
      Delete
    </button>
  </div>
</clr-modal>
