<h1>Enemies</h1>
<button class="btn btn-outline" (click)="generate()">Generate</button>
<br /><br />
<div class="clr-row">
  <div class="clr-col-4">
    <!-- <h4>All</h4> -->
    <div
      class="dragList"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="ms.game.enemyManager.allEnemy"
      (cdkDropListDropped)="drop($event)"
    >
      <a
        [routerLink]="'/battle/enemies/view/' + en.id"
        class="card clickable"
        cdkDrag
        *ngFor="let en of ms.game.enemyManager.allEnemy; trackBy: getEnemyId"
      >
        <app-enemy-card [enemy]="en"></app-enemy-card>
      </a>
    </div>
  </div>
  <div class="clr-col-8"><router-outlet></router-outlet></div>
</div>
