.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
app-enemy-card {
  cursor: move !important;
}

clr-vertical-nav.cdk-drop-list-dragging a {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.card {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.nav-link {
  height: 1.5rem;
  padding: 0 0.5rem 0 1rem;
  line-height: 1.5rem;
  outline-offset: -5px;
}
.level {
  float: right;
}
.enemyLine {
  min-width: 10rem;
  padding-left: 0.5rem;
}
// .cdk-drag-preview {
//   background-color: #324f61 !important;
// }
@media only screen and (min-width: 768px) {
  .clr-vertical-nav {
    width: 300px;
  }
}
