<router-outlet></router-outlet>
<clr-vertical-nav
  [clrVerticalNavCollapsible]="true"
  [clr-nav-level]="2"
  class="nav-trigger--bottom"
  cdkDropList
  [cdkDropListData]="ms.game.enemyManager.allEnemy"
  (cdkDropListDropped)="drop($event)"
>
  <a clrVerticalNavLink routerLink="./search" routerLinkActive="active">
    <clr-icon shape="plus"></clr-icon> Search</a
  >
  <a
    cdkDrag
    clrVerticalNavLink
    [routerLink]="'./view/' + en.id"
    routerLinkActive="active"
    class="movable enemyLine"
    *ngFor="let en of ms.game.enemyManager.allEnemy; trackBy: getEnemyId"
  >
    <clr-icon [attr.shape]="en.shape"></clr-icon>

    {{ en.name }}
    <!-- <span class="badge badge-info" *ngIf="en.bonusCount > 0">{{
      en.bonusCount
    }}</span> -->

    <span *ngIf="en.baseMining > 0" class="badge badge-info">{{
      en.baseMining
    }}</span>
    <span *ngIf="en.baseCrystal > 0" class="badge badge-success">{{
      en.baseCrystal
    }}</span>
    <span *ngIf="en.baseHabitable > 0" class="badge badge-warning">{{
      en.baseHabitable
    }}</span>

    <span class="level">
      {{ en.level }}
    </span>
  </a>
</clr-vertical-nav>

<!-- [ngStyle]="{ 'background-color': os.dark ? '#324f61' : '#324f61' }" -->
