.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
app-enemy-card {
  cursor: move !important;
}

.dragList.cdk-drop-list-dragging app-enemy-card {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.card {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.dragList {
  height: 100%;
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}
