<h1>Ascension</h1>
<p>
  At Prestige level >20 and 40 you can ascend. Ascension reset Prestige to 1 but
  you will get 2*Ascension_level effect from prestige skill (stack multi x2 x4)
  and increase Automator Level by 30% (stack additive)
</p>
<ul>
  <li>
    <strong>Ascension 1</strong>
    Level Required: 20, Prestige effect: 100% (normal)
  </li>
  <li>
    <strong>Ascension 2</strong> Level Required: 40, Prestige effect: 200%
  </li>
  <li>
    <strong>Ascension 3</strong> Level Required: 80, Prestige effect: 400%
  </li>
  <li>
    <strong>Ascension 4</strong> Level Required: 160, Prestige effect: 600%
  </li>
</ul>
