<h1>Ascension</h1>
<p>
  Every 20 Total Prestige you can ascend. Ascension reset Prestige to 1 but you
  will get a 2*Ascension_Level multiplier to your prestige skills and increase Automator Level by Ascension_Level*30%
</p>
<ul>
  <li>
    <strong>Ascension 0</strong>
    Starting Level, Prestige effect: 100% (normal)
  </li>
  <li>
    <strong>Ascension 1</strong>
    Level Required: 20, Prestige effect: 200%
  </li>
  <li>
    <strong>Ascension 2</strong> Level Required: 40, Prestige effect: 400%
  </li>
  <li>
    <strong>Ascension 3</strong> Level Required: 60, Prestige effect: 600%
  </li>
  <li>
    <strong>Ascension 4</strong> Level Required: 80, Prestige effect: 800%
  </li>
</ul>
