<div class="content-area">
  <div class="clr-row clr-justify-content-center">
    <div
      class="clr-col-12 clr-col-sm-12 clr-col-md-11 clr-col-lg-11 clr-col-xl-9"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<clr-vertical-nav>
  <a clrVerticalNavLink routerLink="/info/start" routerLinkActive="active">
    Start
  </a>
  <a clrVerticalNavLink routerLink="/info/labInfo" routerLinkActive="active">
    Laboratory
  </a>
  <a
    clrVerticalNavLink
    routerLink="/info/shipyardInfo"
    routerLinkActive="active"
  >
    Fleets &amp; Battle
  </a>
  <a clrVerticalNavLink routerLink="/info/eneInfo" routerLinkActive="active">
    Enemy
  </a>
  <a clrVerticalNavLink routerLink="/info/modInfo" routerLinkActive="active">
    Robot Factory &amp; Modding
  </a>
  <a
    clrVerticalNavLink
    routerLink="/info/prestigeInfo"
    routerLinkActive="active"
  >
    Prestige
  </a>
  <a clrVerticalNavLink routerLink="/info/autoInfo" routerLinkActive="active">
    Automators
  </a>
  <a clrVerticalNavLink routerLink="/info/ascendInfo" routerLinkActive="active">
    Ascension
  </a>
  <a clrVerticalNavLink routerLink="/info/changelog" routerLinkActive="active">
    Changelog
  </a>
</clr-vertical-nav>
