<div *ngIf="!design; else designEditor">
  <h1>
    <clr-icon shape="ruler-pencil" size="48" class="resIcon"></clr-icon>
    Create new Ship Design
  </h1>
  <br />

  <clr-alert
    class="smallMarginBot"
    [clrAlertType]="'info'"
    [(clrAlertClosed)]="ms.options.hotKeyAlert"
  >
    <clr-alert-item>
      <span class="alert-text">
        HotKeys disabled
      </span></clr-alert-item
    >
  </clr-alert>

  <clr-alert
    [clrAlertType]="'warning'"
    [clrAlertClosable]="false"
    *ngIf="ms.game.fleetManager.ships.length >= 20"
  >
    <clr-alert-item>
      <span class="alert-text">
        Design limit reached, you can have 20 at max.
      </span></clr-alert-item
    >
  </clr-alert>

  <div class="clr-row">
    <div class="clr-col-auto">
      <!-- <clr-alert *ngIf="ms.game.fleetManager.ships.length < 1">
        <clr-alert-item>
          <span class="alert-text">
            You don't have any ship design. Create a ship design in order to
            make ships!
          </span></clr-alert-item
        >
      </clr-alert> -->

      <form clrForm>
        <clr-input-container>
          <label>Design Name</label>
          <input clrInput type="text" [(ngModel)]="name" name="name" required />
          <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>

        <clr-select-container>
          <label>Ship Type</label>
          <select clrSelect name="shipType" [(ngModel)]="type" required>
            <option
              *ngFor="let tp of unlockedShips; trackBy: typeId"
              [ngValue]="tp.id"
            >
              {{ tp.name }}
            </option>
          </select>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-select-container>

        <clr-select-container *ngIf="unlockedClasses.length > 0">
          <label>Class</label>
          <select clrSelect name="shipClass" [(ngModel)]="class">
            <option ngValue="''"> </option>
            <option
              *ngFor="let tp of unlockedClasses; trackBy: typeId"
              [ngValue]="tp.id"
            >
              {{ tp.name }}
            </option>
          </select>
        </clr-select-container>
      </form>
      <button
        class="btn btn-primary"
        type="submit"
        (click)="generate()"
        [disabled]="isDisabled()"
      >
        Create
      </button>
    </div>
    <div class="clr-col-auto">
      <table class="table table-vertical">
        <tbody>
          <tr>
            <td class="left">Total Naval capacity:</td>
            <td>
              <app-formatted-quantity
                [quantity]="ms.game.fleetManager.totalNavalCapacity"
                [integer]="true"
              >
              </app-formatted-quantity>
            </td>
          </tr>
          <tr>
            <td class="left">Used Naval capacity:</td>
            <td>
              <app-formatted-quantity
                [quantity]="ms.game.fleetManager.usedNavalCapacity"
                [integer]="true"
              >
              </app-formatted-quantity>
            </td>
          </tr>
          <tr>
            <td class="left">Total Ships:</td>
            <td>
              <app-formatted-quantity
                [quantity]="ms.game.fleetManager.totalShips"
                [integer]="true"
              >
              </app-formatted-quantity>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clr-col-auto">
      <table class="table table-vertical table-noborder table-compact">
        <tbody>
          <tr>
            <th>Ship</th>
            <th>Naval Capacity</th>
          </tr>
          <tr *ngFor="let tp of unlockedShips; trackBy: typeId">
            <th>{{ tp.name }}</th>
            <td>{{ tp.navalCapacity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #designEditor>
  <app-editor [design]="design"></app-editor>
</ng-template>
