<div *ngIf="!design; else designEditor">
  <h1>Create new Ship Design</h1>
  <form clrForm>
    <clr-input-container>
      <label>Design Name</label>
      <input clrInput type="text" [(ngModel)]="name" name="name" required />
      <clr-control-error>This field is required!</clr-control-error>
    </clr-input-container>

    <clr-select-container>
      <label>Ship Type</label>
      <select clrSelect name="shipType" [(ngModel)]="type" required>
        <option
          *ngFor="let tp of unlockedShips; trackBy: typeId"
          [ngValue]="tp.id"
          >{{ tp.name }}</option
        >
      </select>
      <!-- <clr-control-helper>Helper text</clr-control-helper> -->
      <clr-control-error>This field is required!</clr-control-error>
    </clr-select-container>

    <button
      class="btn btn-primary"
      type="submit"
      (click)="generate()"
      [disabled]="isDisabled()"
    >
      Create
    </button>
  </form>
</div>

<ng-template #designEditor>
  <app-editor [design]="design"></app-editor>
</ng-template>
