<h1>Changelog</h1>
<h3>v0.3 - 19/08/2019</h3>
<ul>
  <li>Fight multiple tile per fight, new thrusters and prestige</li>
  <li>Ship classes and ship modules</li>
  <li>Three new researches</li>
  <li>Two new buildings</li>
  <li>"Search for robot" prestige</li>
</ul>
<h3>16/06/2019</h3>
<ul>
  <li>Robot are deployed after saving mods (avoid unwonted production stop)</li>
</ul>
<h3>13/06/2019></h3>
<ul>
  <li>Battle code optimizations</li>
</ul>
<h3>09/06/2019</h3>
<ul>
  <li>Fix search prestige issues</li>
</ul>
<h3>08/06/2019</h3>
<ul>
  <li>Fixed Skill points are duplicated when prestiging</li>
  <li>Fixed prestige reset</li>
</ul>
<h3>07/06/2019</h3>
<ul>
  <li>Fixed prestige buy bug (was yielding more points)</li>
  <li>New "Enemy defeated" options for Auto Enemy Search Automator</li>
</ul>
<h3>04/06/2019</h3>
<ul>
  <li>Fixed ascension every 20 levels</li>
</ul>
<h3>03/06/2019</h3>
<ul>
  <li>Fixed mod quantity</li>
  <li>Added name to Drone Factory Prestige</li>
  <li>Fixed bugs on prestige pages</li>
  <li>Fixed possible memory leak on search page</li>
  <li>Added pause of at least 5ms after battle</li>
</ul>
<h3>01/06/2019</h3>
<li>New Prestige system</li>
<h3>16/05/2019</h3>
<ul>
  <li>Fixed missile factory prestige</li>
  <li>Drones yield and consume also affect warrior drone</li>
  <li>Fixed options pages for small screens</li>
  <li>Moved robot deployment before auto-switch-off</li>
</ul>
<h3>13/05/2019</h3>
<ul>
  <li>No prestige modal options</li>
  <li>Update info</li>
</ul>
<h3>12/05/2019</h3>
<ul>
  <li>Added a flag to make automators don't stop with prestige</li>
  <li>Priority can be zero</li>
  <li>Fleet disband quickly when exceeding naval capacity</li>
  <li>Fixed defense bug</li>
  <li>Fixed save bug</li>
</ul>
<h2>v0.2 - 11/05/2019</h2>
<ul>
  <li>Ascension every 20 Prestige level with additive bonus</li>
  <li>40 more prestige</li>
  <li>Enemy and prestige rebalance</li>
  <li>Civilian ships</li>
  <li>New Ships tiers after Battleship</li>
  <li>Two new weapons</li>
  <li>More searching options</li>
  <li>Fixed some minor bugs and descriptions</li>
</ul>
<h3>08/05/2019</h3>
<ul>
  <li>Fixed scrolling</li>
  <li>Fixed some typos and descriptions</li>
  <li>New button to submit score to in the save page</li>
  <li>Fixed shipyard ship count</li>
  <li>Robot c. deploying priority is more strict</li>
</ul>
<h3>05/05/2019</h3>
<ul>
  <li>Fixed warp month warping seven months instead of one</li>
</ul>
<h3>04/05/2019</h3>
<ul>
  <li>New warp options</li>
  <li>New mod "More Drones"</li>
  <li>New option for new enemy on top</li>
  <li>Fixed minor bugs and descriptions</li>
  <li>PlayFab autoSave option, in testing</li>
</ul>
<h3>03/05/2019</h3>
<ul>
  <li>Auto next work even when not in battle</li>
  <li>Hide refund options (Options -> UI)</li>
  <li>New automators page</li>
  <li>New search warp automator</li>
  <li>Minor bug fixes</li>
</ul>
<h3>02/05/2019</h3>
<ul>
  <li>Unlimited naval capacity</li>
  <li>Ships count limited to 10k</li>
  <li>Fixed research toast name bug</li>
  <li>bigger sliders</li>
</ul>
<h3>01/05/2019</h3>
<ul>
  <li>Fixed issue with negative mods</li>
  <li>Auto sort for researches</li>
  <li>Improved prestige tab</li>
  <li>Added modal windows for prestige and ascension</li>
  <li>Fixed typos</li>
</ul>
<h3>30/04/2019</h3>
<ul>
  <li>Added enemy level on battle page.</li>
  <li>Better slider and number input for shipyard and mods.</li>
  <li>Battleship research now require 1e17 research instead 1e19</li>
  <li>Updated some descriptions.</li>
  <li>Added modal window with explanations after unlocking corvette.</li>
  <li>Removed the extra price for upgrade fleets.</li>
</ul>
<h3>29/04/2019</h3>
<ul>
  <li>Fixed auto fight min %</li>
  <li>Fixed auto shipyard warp</li>
  <li>Fixed auto fleet upgrade preventing from modify ships design</li>
  <li>New formula for enemy defense, now star and increase slowly</li>
</ul>
<h2>v0.1 - 28/04/2019</h2>
<ul>
  <li>
    Naval capacity capped ad 10k because of performance. Naval capacity now is
    more difficult to obtain but larger ship require less.
  </li>
  <li>Removed limited storage from metal, crystal and alloy.</li>
  <li>
    Fixed Automators saving and now automators don't reset with prestige.
  </li>
  <li>Added options to search for custom level with Search Automator.</li>
  <li>Added shipyard warp automator.</li>
  <li>
    "Expensive / Economic" mod now stack additive instead of multiplicative.
  </li>
  <li>Missile and nuke buff.</li>
  <li>Prestige rest.</li>
  <li>Changed "+200% energy" prestige to "+400% research".</li>
  <li>Fixed minor some minor bugs and descriptions.</li>
  <li>Increased search required.</li>
</ul>
