<h1>Changelog</h1>
<h3>v0.1 - 28/04/2019</h3>
<ul>
  <li>
    Naval capacity capped ad 10k because of performance. Naval capacity now is
    more difficult to obtain but larger ship require less.
  </li>
  <li>Removed limited storage from metal, crystal and alloy.</li>
  <li>Missile and nuke buff.</li>
  <li>Prestige rest.</li>
  <li>
    Fixed Automators saving and now automators don't reset with prestige.
  </li>
  <li>Added options to search for custom level with Search Automator.</li>
  <li>Added shipyard warp automator.</li>
  <li>Changed "+200% energy" prestige to "+400% research".</li>
  <li>
    "Expensive / Economic" mod now stack additive instead of multiplicative.
  </li>
</ul>
