<h1>Changelog</h1>
<h3>30/04/2019</h3>
<ul>
  <li>Added enemy level on battle page.</li>
  <li>Better slider and number input for shipyard and mods.</li>
  <li>Battleship research now require 1e17 research instead 1e19</li>
  <li>Updated some descriptions.</li>
  <li>Added modal window with explanations after unlocking corvette.</li>
  <li>Removed the extra price for upgrade fleets.</li>
</ul>
<h3>29/04/2019</h3>
<ul>
  <li>Fixed auto fight min %</li>
  <li>Fixed auto shipyard warp</li>
  <li>Fixed auto fleet upgrade preventing from modify ships design</li>
  <li>New formula for enemy defense, now star and increase slowly</li>
</ul>
<h3>v0.1 - 28/04/2019</h3>
<ul>
  <li>
    Naval capacity capped ad 10k because of performance. Naval capacity now is
    more difficult to obtain but larger ship require less.
  </li>
  <li>Removed limited storage from metal, crystal and alloy.</li>
  <li>
    Fixed Automators saving and now automators don't reset with prestige.
  </li>
  <li>Added options to search for custom level with Search Automator.</li>
  <li>Added shipyard warp automator.</li>
  <li>
    "Expensive / Economic" mod now stack additive instead of multiplicative.
  </li>
  <li>Missile and nuke buff.</li>
  <li>Prestige rest.</li>
  <li>Changed "+200% energy" prestige to "+400% research".</li>
  <li>Fixed minor some minor bugs and descriptions.</li>
  <li>Increased search required.</li>
</ul>
