.res-progress {
  float: right;
  font-size: 90%;
}

.card-title {
  margin-bottom: 0.1rem;
}
.card-header,
.card-block,
.card-footer {
  padding: 0.4rem 0.75rem;
}
.card-text {
  margin-bottom: 0;
}
