<clr-main-container *ngIf="ms.show && ms.game" [@fadeInOut]>
  <!-- Header -->
  <clr-header class="header" [ngClass]="os.headerClass">
    <div class="header-nav" [clr-nav-level]="1">
      <a
        [routerLink]="ms.lastUnitUrl"
        class="nav-link"
        [routerLinkActive]="'active'"
      >
        <span class="nav-text"> <clr-icon shape="home"></clr-icon> </span>
      </a>

      <a
        [routerLink]="'lab'"
        class="nav-link"
        [routerLinkActive]="'active'"
        *ngIf="ms.game.resourceManager.computing.unlocked"
      >
        <span class="nav-text"> <clr-icon shape="lightbulb"></clr-icon> </span>
      </a>

      <a
        [routerLink]="'fleet/design/new'"
        class="nav-link"
        [routerLinkActive]="'active'"
        *ngIf="ms.game.researchManager.corvette.done"
      >
        <span class="nav-text">
          <clr-icon shape="ruler-pencil"></clr-icon>
        </span>
      </a>
    </div>

    <div class="header-actions">
      <a
        [routerLink]="'opt/save/'"
        class="nav-link nav-icon"
        [routerLinkActive]="'active'"
      >
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </clr-header>
  <!-- End Header -->

  <!-- Materials list -->
  <app-material-list></app-material-list>

  <router-outlet></router-outlet>
</clr-main-container>
