<clr-main-container *ngIf="ms.show && ms.game" [@fadeInOut]>
  <!-- Header -->
  <clr-header class="header">
    <div class="header-nav" [clr-nav-level]="1">
      <a [routerLink]="'home'" class="nav-link" [routerLinkActive]="'active'">
        <span class="nav-text"> <clr-icon shape="home"></clr-icon> </span>
      </a>

      <a [routerLink]="'lab'" class="nav-link" [routerLinkActive]="'active'">
        <span class="nav-text"> <clr-icon shape="lightbulb"></clr-icon> </span>
      </a>
    </div>
  </clr-header>
  <!-- End Header -->

  <router-outlet></router-outlet>
</clr-main-container>
