<clr-datagrid class="datagrid-compact">
  <clr-dg-column [clrDgSortBy]="shipOrderSorter">Order</clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">Ship Name</clr-dg-column>
  <!-- <clr-dg-column [clrDgSortBy]="shipTypeSorter">Type</clr-dg-column> -->
  <clr-dg-column [clrDgSortBy]="shipQuantitySorter">Quantity</clr-dg-column>
  <clr-dg-column>Level</clr-dg-column>

  <clr-dg-row *clrDgItems="let ship of fleet; trackBy: getDesignId">
    <clr-dg-cell>{{ ship.order }}</clr-dg-cell>
    <clr-dg-cell>{{ ship.name }}</clr-dg-cell>
    <!-- <clr-dg-cell>{{ ship.type.name }}</clr-dg-cell> -->
    <clr-dg-cell>
      <app-formatted-quantity
        [quantity]="ship.quantity"
        [integer]="true"
      ></app-formatted-quantity>
    </clr-dg-cell>
    <clr-dg-cell>
      <app-formatted-quantity
        *ngIf="ship.modules[0]"
        [quantity]="ship.modules[0].level"
      ></app-formatted-quantity>
    </clr-dg-cell>
    <clr-dg-row-detail *clrIfExpanded>
      <clr-tabs>
        <clr-tab>
          <button clrTabLink id="link1">Info</button>
          <clr-tab-content id="content1" *clrIfActive>
            <app-view [design]="ship" [showDifference]="false"></app-view>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink id="link1">Modules</button>
          <clr-tab-content id="content1" *clrIfActive>
            <table class="table table-compact table-noborder">
              <thead>
                <tr>
                  <th>Module</th>
                  <th>Size</th>
                  <th>Level</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mod of ship.modules">
                  <td>
                    {{ mod?.module?.name }}
                  </td>
                  <td>
                    {{ mod?.size | sizeName }}
                  </td>
                  <td>
                    <app-formatted-quantity
                      [quantity]="mod.level"
                    ></app-formatted-quantity>
                  </td>
                </tr>
              </tbody>
            </table>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </clr-dg-row-detail>
  </clr-dg-row>

  <!-- <clr-dg-footer>{{users.length}} users</clr-dg-footer> -->
</clr-datagrid>
