<h1>Automators</h1>
<p>
  Automators are unlocked by automator level
  <a [routerLink]="'/autoTable'">Automators</a>
  "Automator Level" is prestige level * (1 + 0.3 * ascension level) and never
  decrease.
  <br />
  Automators can automate some aspect of the game, for example auto search for
  new enemy.
</p>
<h6>Automators Stats</h6>
<ul class="list">
  <li><strong>Active: On</strong> Turn Automator on or off</li>
  <li>
    <strong>Active: When not have Robot Factory</strong> Turn Automator off if
    you have at least one Drone Factory
  </li>
  <li>
    <strong>Interval</strong>Minimum interval, unlock lower interval with
    prestige level. You should put higher interval on low priority automators to
    avoid Priority inversion
  </li>
  <li><strong>Priority</strong>Higher number equal higher priority</li>
  <li>
    <strong>Res %</strong>Percent of resource to use. With 100% automators will
    use 100% of available resource
  </li>
</ul>
