<h1>Automators</h1>
<p>
  Automators are unlocked based upon your Automator Level, which you can see in the Automators tab: 
  <a [routerLink]="'/autoTable'">Automators</a><br />
  "Automator Level" is calculated by Prestige*(1+(0.3*Ascension_Level))
  <br />
  Automators can automate some aspects of the game, such as searching for enemies.
</p>
<h6>Automators Stats</h6>
<ul class="list">
  <li><strong>Active: On</strong> Turn Automator on or off</li>
  <li>
    <strong>Active: When not have Robot Factory</strong> Turn Automator off if
    you have at least one Robot Factory
  </li>
  <li>
    <strong>Interval</strong> Minimum interval, Lower intervals are unlocked by
    raising your Automator Level. You should put higher interval on low priority 
    automators to avoid Priority inversion
  </li>
  <li><strong>Priority</strong> Higher number equal higher priority</li>
  <li>
    <strong>Res %</strong> Percent of resources to use. With 100% automators will
    activate as soon as you have 100% of the resources it requires.
  </li>
</ul>
