app-research {
  cursor: move;
}

.researches-list.cdk-drop-list-dragging app-research {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.drag-list {
  margin-top: 0;
}
h6 {
  margin-bottom: 0;
}
