<div class="clr-row">
  <div class="clr-col-12	clr-col-sm-12	clr-col-md-12	clr-col-lg-9	clr-col-xl-8">
    <div class="clr-row">
      <div class="clr-col-12	clr-col-sm-12	clr-col-md-6	clr-col-lg-6	clr-col-xl-6">
        <h6>Backlog</h6>
        <div
          cdkDropList
          #backLogList="cdkDropList"
          [cdkDropListData]="ms.game.researchManager.backLog"
          [cdkDropListConnectedTo]="[todoList]"
          class="drag-list myBg"
          (cdkDropListDropped)="drop($event)"
        >
          <app-job
            *ngFor="
              let res of ms.game.researchManager.backLog;
              trackBy: getResId
            "
            [job]="res"
            [showDetails]="ms.showDetails"
            cdkDrag
          >
          </app-job>
        </div>
      </div>
      <div class="clr-col-12	clr-col-sm-12	clr-col-md-6	clr-col-lg-6	clr-col-xl-6">
        <h6>In progress</h6>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="ms.game.researchManager.toDo"
          [cdkDropListConnectedTo]="[backLogList]"
          class="drag-list myBg"
          (cdkDropListDropped)="drop($event)"
        >
          <app-job
            *ngFor="let res of ms.game.researchManager.toDo; trackBy: getResId"
            [job]="res"
            [showDetails]="ms.showDetails"
            cdkDrag
          >
          </app-job>
        </div>
      </div>
    </div>
  </div>

  <div class="clr-col-12	clr-col-sm-12	clr-col-md-12	clr-col-lg-3	clr-col-xl-4">
    <p>
      Unused Computing are converted to research. Researches on the backlog will
      not be researched. <br />Research multiplier:
      <app-formatted-quantity [quantity]="resMulti"></app-formatted-quantity
      ><br />
      <span>Computing is increasing at: </span>
      <app-polynom [c]="ms.game.resourceManager.computing.c"> </app-polynom>
      <br />
      Research /s:
      <app-formatted-quantity [quantity]="resPerSec"></app-formatted-quantity>
    </p>

    <button class="btn btn-outline" (click)="sortPrice()">
      Sort by price
    </button>
    <button class="btn btn-outline" (click)="allBacklog()">
      All Backlog
    </button>
    <button class="btn btn-outline" (click)="allToDo()">
      All In Progress
    </button>
    <button class="btn btn-outline" (click)="bonus = true">
      Show Bonus
    </button>

    <br />
    <clr-toggle-container>
      <clr-toggle-wrapper>
        <input
          type="checkbox"
          clrToggle
          name="showDetails"
          [(ngModel)]="ms.showDetails"
        />
        <label>Show Details</label>
      </clr-toggle-wrapper>
    </clr-toggle-container>

    <clr-toggle-container>
      <clr-toggle-wrapper>
        <input
          type="checkbox"
          clrToggle
          name="autoSort"
          [(ngModel)]="ms.game.researchManager.autoSort"
        />
        <label>Auto Sort</label>
      </clr-toggle-wrapper>
    </clr-toggle-container>
    <div class="clr-subtext-wrapper">
      <span class="clr-subtext"
        >Auto Sort: sort researches after completion</span
      >
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="infoModal" [clrModalSize]="'lg'">
  <h3 class="modal-title">Laboratory</h3>
  <div class="modal-body">
    <p>ToDo</p>
  </div>
</clr-modal>

<!-- Bonus Modal -->
<clr-modal [(clrModalOpen)]="bonus">
  <h3 class="modal-title">Research Bonus</h3>
  <div class="modal-body">
    <app-bonus-view [bonus]="ms.game.researchBonus"></app-bonus-view>
  </div>
</clr-modal>
