h1 {
  margin-top: 0;
}
.smallInput {
  width: 2.5rem;
}
.noTopMargin {
  margin-top: 0;
}
table {
  .clr-form-control {
    margin-top: 0;
  }
}
.moduleTable {
  margin-top: 0;
}
.moduleSubTitle {
  margin-left: 1rem;
}
h4 {
  display: inline-block;
}
clr-input-container {
  margin-top: 0.1rem;
}
input {
  text-align: center;
}
.col1 {
  min-width: 20rem;
}
.col2 {
  min-width: 10rem;
}
