<div class="clr-row">
  <div class="clr-col-md-auto col1">
    <h1>
      <clr-icon [attr.shape]="design.type.shape" size="48" class="resIcon">
      </clr-icon>
      {{ design.name }} -
      {{ design.type.name }}
    </h1>
    <div *ngIf="design.editable">
      <clr-alert
        [clrAlertClosable]="false"
        [clrAlertType]="'warning'"
        *ngIf="design.isUpgrading"
      >
        <clr-alert-item>
          <span class="alert-text">
            This design is already upgrading!
          </span>
        </clr-alert-item>
      </clr-alert>

      <form clr-form-compact>
        <clr-input-container>
          <label>Name:</label>
          <input
            clrInput
            type="text"
            [(ngModel)]="design.editable.name"
            name="name"
            required
          />
          <clr-control-error>Name is required!</clr-control-error>
        </clr-input-container>

        <h4>
          Modules:
        </h4>
        <span class="moduleSubTitle"
          >used:
          <span
            [ngClass]="{
              'text-danger':
                design.editable.modules.length > design.type.moduleCount
            }"
            >{{ design.editable.modules.length }}/{{ design.type.moduleCount }}
          </span>
        </span>
        <span class="moduleSubTitle">
          point:
          <span
            [ngClass]="{
              'text-danger':
                design.editable.usedModulePoint > design.type.modulePoint
            }"
            >{{ design.editable.usedModulePoint }}/{{ design.type.modulePoint }}
          </span>
        </span>
        <span class="moduleSubTitle">
          energy:
          <span
            [ngClass]="{
              'text-danger': design.editable.totalEnergy.lt(0)
            }"
          >
            <app-formatted-quantity
              [quantity]="design.editable.totalEnergy"
            ></app-formatted-quantity>
          </span>
        </span>
        <br />

        <table class="table table-noborder table-compact moduleTable">
          <thead>
            <tr>
              <th>Module</th>
              <th>Size</th>
              <th>Level</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let w of design.editable.modules;
                let i = index;
                trackBy: getModuleId
              "
              [attr.data-index]="i"
            >
              <!-- Module -->
              <td>
                <div class="clr-select-wrapper">
                  <select
                    class="clr-select"
                    [name]="'weap' + i"
                    [(ngModel)]="w.moduleId"
                    (ngModelChange)="reload()"
                  >
                    <option
                      *ngFor="
                        let wt of ms.game.fleetManager.unlockedModules;
                        trackBy: getModuleId
                      "
                      [ngValue]="wt.id"
                      >{{ wt.name }}</option
                    >
                  </select>
                </div>
              </td>
              <!-- Size -->
              <td>
                <div class="clr-select-wrapper">
                  <select
                    *ngIf="w.module"
                    class="clr-select"
                    [name]="'size' + i"
                    [(ngModel)]="w.size"
                    (ngModelChange)="reload()"
                  >
                    <option
                      *ngFor="
                        let si of (w.module.sizes
                          | sizes: design.type.moduleCount);
                        trackBy: getSizeId
                      "
                      [ngValue]="si"
                      >{{ getSizeName(si) }}
                      <!-- {{ si }} -->
                    </option>
                  </select>
                </div>
              </td>
              <!-- Level -->
              <td>
                <div
                  class="clr-control-container"
                  [ngClass]="{ 'clr-error': validateLevel(w) }"
                >
                  <div class="btn-group btn-primary">
                    <button
                      type="button"
                      class="btn  btn-sm btn-outline btn-icon"
                      (click)="w.levelUi = w.levelUi - 1; reload()"
                      [disabled]="w.levelUi <= 10"
                    >
                      <clr-icon shape="minus"></clr-icon>
                    </button>

                    <input
                      class="smallInput clr-input"
                      type="number"
                      required
                      min="10"
                      [(ngModel)]="w.levelUi"
                      [name]="'l' + i"
                      (ngModelChange)="reload()"
                      min="10"
                      [attr.max]="w.maxLevel"
                      required
                    />

                    <button
                      type="button"
                      class="btn  btn-sm btn-outline btn-icon"
                      (click)="w.levelUi = w.levelUi + 1; reload()"
                      [disabled]="w.levelUi >= w.maxLevel"
                    >
                      <clr-icon shape="plus"></clr-icon>
                    </button>
                  </div>
                  <clr-icon
                    class="clr-validate-icon"
                    shape="exclamation-circle"
                  ></clr-icon>
                </div>
              </td>
              <!-- Remove -->
              <td>
                <button
                  type="button"
                  class="btn btn-warning btn-sm btn-icon noTopMargin"
                  (click)="removeModule(i)"
                >
                  <clr-icon shape="trash"></clr-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <br />

        <div *ngIf="!design.editable.isValid; else upgradeAlert">
          <clr-alert [clrAlertType]="'danger'" [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">
                This design is not valid!
                <ng-container
                  *ngIf="
                    design.editable.modules.length > design.type.moduleCount
                  "
                >
                  <br />
                  Too many module
                </ng-container>
                <ng-container
                  *ngIf="
                    design.editable.usedModulePoint > design.type.modulePoint
                  "
                >
                  <br />
                  Too many module points
                </ng-container>
                <ng-container *ngIf="design.editable.totalEnergy.lt(0)">
                  <br />
                  No enoughs energy
                </ng-container>
              </span>
            </clr-alert-item>
          </clr-alert>
          <br />
        </div>

        <ng-template #upgradeAlert>
          <div *ngIf="design.editable.upgradePrice.gt(0)">
            <clr-alert [clrAlertType]="'info'" [clrAlertClosable]="false">
              <clr-alert-item>
                <span class="alert-text">
                  Upgrade will costs:
                  <app-price-line
                    [unit]="ms.game.resourceManager.shipyardProgress"
                    [canBuy]="true"
                    [price]="design.editable.upgradePrice"
                  ></app-price-line>
                </span>
              </clr-alert-item>
            </clr-alert>
            <br />
          </div>
        </ng-template>
      </form>
      <clr-button-group class="btn-primary">
        <clr-button
          class="btn btn-outline"
          (click)="addModule()"
          [disabled]="design.editable.modules.length >= design.type.moduleCount"
        >
          <clr-icon shape="plus"></clr-icon>
          Add
        </clr-button>
        <clr-button class="btn btn-outline" (click)="maxAll()">
          <clr-icon shape="angle"></clr-icon>
          Max All
        </clr-button>
        <clr-button
          *ngIf="design.quantity.lt(1); else upgradeBtn"
          class="btn btn"
          [disabled]="!design.editable.isValid || design.isUpgrading"
          (click)="save()"
          ><clr-icon shape="floppy"></clr-icon>Save</clr-button
        >
        <ng-template #upgradeBtn>
          <clr-button
            class="btn btn"
            [disabled]="!design.editable.isValid || design.isUpgrading"
            (click)="save()"
            ><clr-icon shape="angle-double"></clr-icon>Upgrade</clr-button
          >
        </ng-template>
        <clr-button
          class="btn btn-success"
          [disabled]="changed"
          (click)="revert()"
          ><clr-icon shape="undo"></clr-icon>Cancel</clr-button
        >
        <clr-button class="btn btn-warning" (click)="deleteModal = true"
          ><clr-icon shape="trash"></clr-icon>Delete</clr-button
        >
      </clr-button-group>
    </div>
  </div>

  <div class="clr-col-md-auto col2">
    <app-view [design]="design" [showDifference]="true"></app-view>
  </div>
</div>

<clr-modal [(clrModalOpen)]="deleteModal">
  <h3 class="modal-title">Delete Ship Design</h3>
  <div class="modal-body">
    <p>Delete this Ship Design and all ships?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="deleteModal = false">
      Cancel
    </button>
    <button type="button" class="btn btn-warning" (click)="deleteDesign()">
      Delete
    </button>
  </div>
</clr-modal>
