h1 {
  margin-top: 0;
}
.smallInput {
  width: 2rem;
}
.noTopMargin {
  margin-top: 0;
}
table {
  .clr-form-control {
    margin-top: 0;
  }
}
.moduleTable {
  margin-top: 0;
}
.moduleSubTitle {
  margin-left: 1rem;
}
h4 {
  display: inline-block;
}
