<h1>{{ design.name }}</h1>
<div class="clr-row">
  <div class="clr-col-sm-12 clr-col-md-6" *ngIf="design.editable">
    <form clrForm clr-form-compact>
      <clr-input-container>
        <label>Name</label>
        <input
          clrInput
          type="text"
          [(ngModel)]="design.editable.name"
          name="name"
          required
        />
        <clr-control-helper>Design name.</clr-control-helper>
        <clr-control-error>Name is required!</clr-control-error>
      </clr-input-container>

      <!-- <clr-input-container
        *ngFor="let w of design.editable.weapons; trackBy: getModuleId"
      >
        <label>Weapon</label>
        <input
          clrInput
          type="numeric"
          [(ngModel)]="w[2]"
          [name]="'w'"
          required
        />

        <button type="button" class="btn btn-icon btn-warning">
          <clr-icon shape="warning-standard"></clr-icon>
        </button>
      </clr-input-container> -->

      <h4>Weapons:</h4>
      <table class="table table-noborder">
        <thead>
          <tr>
            <th>Num.</th>
            <th>Weapon</th>
            <th>Quantity</th>
            <th>Energy</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let w of design.editable.weapons;
              let i = index;
              trackBy: getModuleId
            "
            [attr.data-index]="i"
          >
            <td>{{ i }}</td>
            <td>
              <div class="clr-select-wrapper">
                <select
                  class="clr-select"
                  [name]="'weap' + i"
                  [(ngModel)]="w[1]"
                >
                  <option
                    *ngFor="let wt of ms.game.fleetManager.unlockedWeapons"
                    value="wt"
                    >{{ wt.name }}</option
                  >
                </select>
              </div>
            </td>
            <td>
              <div class="btn-group btn-primary">
                <button
                  type="button"
                  class="btn  btn-sm btn-outline btn-icon"
                  (click)="w[2] = w[2] - 1"
                >
                  <clr-icon shape="minus"></clr-icon>
                </button>
                <input
                  class="clr-input smallInput"
                  type="number"
                  [(ngModel)]="w[2]"
                  [name]="'w' + i"
                  required
                />
                <button
                  type="button"
                  class="btn  btn-sm btn-outline btn-icon"
                  (click)="w[2] = w[2] + 1"
                >
                  <clr-icon shape="plus"></clr-icon>
                </button>
              </div>
            </td>
            <td>{{ w[1]?.energy }}</td>
            <td>
              <button
                type="button"
                class="btn btn-warning btn-sm btn-icon noTopMargin"
                (click)="removeWeapon(i)"
              >
                <clr-icon shape="trash"></clr-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-outline" (click)="addWeapon()">
        <clr-icon shape="plus"></clr-icon>
        Add Weapon
      </button>
    </form>
  </div>
  <div class="clr-col-sm-12 clr-col-md-6">
    <app-view [design]="design"></app-view>
  </div>
</div>
