<h1>Laboratory</h1>
<p>
  In the Laboratory you can research new stuff. Research progress is made by
  unused computing multiply by research bonus. Researches in the "In Progress"
  column are researched, those in the "Backlog" not.
</p>
<h3>Starting research</h3>
<p>What to focus when starting:</p>
<ul class="list">
  <li>
    <strong>Better Researching</strong> The first level can boost your research
    progress
  </li>
  <li>
    <strong>Energy</strong> You probably want more energy, so get some level of
    this
  </li>
  <li>
    <strong>Corvette</strong> This unlock a lot of stuff, but before this focus
    on Metal, Crystal and Energy production.
  </li>
  <li>
    <strong>Scavenger</strong> This is usefully if you play active and can take
    advantage of extra resource, you will need storage.
  </li>
  <li>
    <strong>Frigate</strong> Unlock a new ship and add 10 max naval capacity.
    Free naval capacity is good.
  </li>
  <li><strong>Warriors</strong> When you need more naval capacity.</li>
  <li>
    <strong>Telescope</strong>After defeating the first enemy you will need this
    to find more powerfully enemies.
  </li>
</ul>
