<h1>Notifications</h1>
<br />

<clr-toggle-wrapper>
  <input
    type="checkbox"
    clrToggle
    name="options"
    [(ngModel)]="OptionsService.researchNotification"
  />
  <label>Research Notification</label>
</clr-toggle-wrapper>
<br />

<clr-toggle-wrapper>
  <input
    type="checkbox"
    clrToggle
    name="options2"
    [(ngModel)]="OptionsService.warpNotification"
  />
  <label>Warp Notification</label>
</clr-toggle-wrapper>
<br />

<clr-toggle-wrapper>
  <input
    type="checkbox"
    clrToggle
    name="options3"
    [(ngModel)]="OptionsService.enemyDefeatedNotification"
  />
  <label>Enemy Defeated</label>
</clr-toggle-wrapper>
<br />

<clr-toggle-wrapper>
  <input
    type="checkbox"
    clrToggle
    name="options4"
    [(ngModel)]="OptionsService.researchModal"
  />
  <label>Open Modal when unlocking Laboratory</label>
</clr-toggle-wrapper>
<br />

<clr-toggle-wrapper>
  <input
    type="checkbox"
    clrToggle
    name="options5"
    [(ngModel)]="OptionsService.battleWinNotification"
  />
  <label>Battle win notification</label>
</clr-toggle-wrapper>
