<ul class="nav navMat" role="tablist">
  <li
    class="nav-item"
    class="matTab"
    [ngClass]="{ 'small-tab': g.id === 'f' }"
    *ngFor="let g of ms.game.resourceManager.matNav; trackBy: getResId"
  >
    <app-tab
      [id]="g.id"
      [shape]="g.shape"
      [isEnding]="g.isEnding"
      [quantity]="g.quantity"
      [c]="g.c"
      [showQta]="g !== ms.game.resourceManager.computing"
      [cap]="g.isCapped"
    ></app-tab>
  </li>
  <li
    class="nav-item"
    class="matTab"
    *ngIf="ms.game.researchManager.corvette.firstDone"
  >
    <app-tab
      [id]="'naval'"
      [shape]="'ship'"
      [isEnding]="false"
      [quantity]="ms.game.fleetManager.usedNavalCapacity"
      [limit]="ms.game.fleetManager.totalNavalCapacity"
      [cog]="ms.game.shipyard.jobs.length > 0"
      [integer]="true"
      [link]="'/fleet/shipyard'"
      [cap]="
        ms.game.fleetManager.usedNavalCapacity.gte(
          ms.game.fleetManager.totalNavalCapacity
        )
      "
    ></app-tab>
  </li>
  <li
    *ngIf="ms.game.darkMatterManager.darkMatter.unlocked"
    class="matTab nav-item darkMatter"
  >
    <app-tab
      [id]="ms.game.darkMatterManager.darkMatter.id"
      [shape]="ms.game.darkMatterManager.darkMatter.shape"
      [isEnding]="ms.game.darkMatterManager.darkMatter.isEnding"
      [quantity]="ms.game.darkMatterManager.darkMatter.quantity"
      [limit]="ms.game.resourceManager.inactiveDarkMatter.quantity"
      [showQta]="true"
      [cap]="false"
      [link]="'/darkMatter'"
    ></app-tab>
  </li>
</ul>
