:host /deep/ .matTab {
  max-width: 200px;
  // min-width: 130px;
  text-align: left;
  width: 100%;
}
:host /deep/ .small-tab {
  min-width: 100px !important;
  max-width: 130px !important;
}

ul {
  min-height: fit-content;
}

li {
  padding-left: 1rem;
}
:host /deep/ .navMat {
  padding-left: 0 !important;
}

.nav {
  height: auto;
}
:host /deep/ .alert {
  margin-top: auto;
}
@media screen and (max-width: 1200px) {
  .darkMatter {
    display: none;
  }
}
