/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@clr/ui/src/utils/dependencies.clarity"; // Includes light theme

@import "../node_modules/@clr/ui/src/utils/theme.dark.clarity"; // Overwrites with dark theme

@import "./theme.scss";

// Clarity Component SCSS
@import "../node_modules/@clr/ui/src/utils/components.clarity";

.monospace {
  font-family: RobotoMono, Consolas, Monaco, Courier, monospace !important;
  font-size: 90%;
}
.notEnough {
  color: #c92100;

  a:link :not(.noRed) {
    color: #c92100;
  }
  a:visited :not(.noRed) {
    color: #c92100;
  }
}
