.monospace {
  font-family: RobotoMono, Consolas, Monaco, Courier, monospace !important;
  font-size: 90%;
}

h5 {
  margin-top: 0.6rem;
}
h6 {
  margin-top: 0.5rem;
}
body p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.small {
  font-size: 60%;
}
clr-icon {
  height: 24px;
  width: 24px;
}

::-webkit-scrollbar {
  height: 0.2rem;
  width: 0.2rem;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
}

.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.movable {
  cursor: move;
}
