.monospace {
  font-family: RobotoMono, Consolas, Monaco, Courier, monospace !important;
  font-size: 90%;
}

h5 {
  margin-top: 0.6rem;
}
h6 {
  margin-top: 0.5rem;
}
body p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.small {
  font-size: 60%;
}
clr-icon {
  height: 24px;
  width: 24px;
}

/* Fixes icon getting cut off when collapsed #37 */
.clr-vertical-nav.is-collapsed .nav-icon {
    margin-left: 0 !important;
}

::-webkit-scrollbar {
  height: 0.2rem;
  width: 0.2rem;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
}

.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.drag-list.cdk-drop-list-dragging .drag-item {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.movable {
  cursor: move;
}
.researchIcon {
  float: left;
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}
h4 {
  margin-top: 0.5rem;
}

.drag-list {
  .card {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  min-height: 30vh;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 0.5rem;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  height: 100%;
  padding-top: 0.5rem;
}
input[type="range"]:focus,
input[type="range"].clr-focus {
  border-bottom: none !important;
  background: none !important;
  background-size: 0 !important;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.75px 0;
  border-bottom: none !important;
  background: none !important;
  background-color: transparent !important;
  background-size: 0 !important;
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  // box-shadow: 1.6px 1.6px 3.4px rgba(0, 0, 0, 0.99),
  //   0px 0px 1.6px rgba(13, 13, 13, 0.99);
  background: rgba(48, 113, 169, 0.78);
  border-radius: 13.2px;
  border: 0.1px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  // box-shadow: 0.3px 0.3px 1px #000031, 0px 0px 0.3px #00004b;
  border: 1.5px solid #00001e;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.35px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(48, 113, 169, 0.78);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 7.5px;
  cursor: pointer;
  box-shadow: 1.6px 1.6px 3.4px rgba(0, 0, 0, 0.99),
    0px 0px 1.6px rgba(13, 13, 13, 0.99);
  background: rgba(48, 113, 169, 0.78);
  border-radius: 13.2px;
  border: 0.1px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0.3px 0.3px 1px #000031, 0px 0px 0.3px #00004b;
  border: 1.5px solid #00001e;
  height: 22px;
  width: 22px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 7.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: rgba(48, 113, 169, 0.78);
  border: 0.1px solid #010101;
  border-radius: 26.4px;
  box-shadow: 1.6px 1.6px 3.4px rgba(0, 0, 0, 0.99),
    0px 0px 1.6px rgba(13, 13, 13, 0.99);
}
input[type="range"]::-ms-fill-upper {
  background: rgba(48, 113, 169, 0.78);
  border: 0.1px solid #010101;
  border-radius: 26.4px;
  box-shadow: 1.6px 1.6px 3.4px rgba(0, 0, 0, 0.99),
    0px 0px 1.6px rgba(13, 13, 13, 0.99);
}
input[type="range"]::-ms-thumb {
  box-shadow: 0.3px 0.3px 1px #000031, 0px 0px 0.3px #00004b;
  border: 1.5px solid #00001e;
  width: 22px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  height: 7.5px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: rgba(48, 113, 169, 0.78);
}
input[type="range"]:focus::-ms-fill-upper {
  background: rgba(48, 113, 169, 0.78);
}

.nav-group-content {
  border-left: 10px solid #49afd9 !important;
  border-radius: 5px 0 0 5px !important;
  margin: 2px 0 0 2px !important;
}
.nav-content a.nav-link.active {
  border-radius: 3px 0 0 3px !important;
}

.toast-container .ngx-toastr {
  padding-top: 7px;
  padding-bottom: 7px;
}
.toast-research {
  background-color: #2f96b4;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' class='has-solid ' viewBox='0 0 36 36' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' focusable='false' aria-hidden='true' role='img'%3E%3Cpath d='M31.43,27.28,23,14.84V4h1a1,1,0,0,0,0-2H12a1,1,0,0,0,0,2h1V14.84L4.51,27.36A4.29,4.29,0,0,0,5,32.8,4.38,4.38,0,0,0,8.15,34H28a4.24,4.24,0,0,0,3.42-6.72ZM29.85,31a2.62,2.62,0,0,1-2,1H8a2.2,2.2,0,0,1-2.06-1.41,2.68,2.68,0,0,1,.29-2.17l3-4.44,14,0-1.31-2H10.57L15,15.46V4h6V15.46l8.84,13.05A2.23,2.23,0,0,1,29.85,31Z' fill='%23fff'%3E%3C/path%3E%3Cpath d='M31.49,27.4,23,14.94V4h1a1,1,0,0,0,0-2H12.08a1,1,0,0,0,0,2H13V14.94L4.58,27.31a4.31,4.31,0,0,0-.78,3A4.23,4.23,0,0,0,8,34H27.86A4.36,4.36,0,0,0,31,32.8,4.23,4.23,0,0,0,31.49,27.4ZM15,15.49V4h6V15.49L26.15,23H9.85Z' fill='%23fff' %3E%3C/path%3E%3C/svg%3E");
}
.toast-warp {
  background-color: #2f96b4;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' style='height: 512px; width: 512px;'%3E%3Cg class='' transform='translate(0,0)' style='touch-action: none;'%3E%3Cpath d='M255.656 22.75c-131.173 0-237.72 33.326-237.72 74.344.002 22.39 32.41 42.59 82.564 56.22-17.407-8.91-27.53-19.216-27.53-30.47 0-32.128 81.75-58.53 182.686-58.53 100.937 0 183.25 26.4 183.25 58.53 0 11.194-10.3 21.59-27.53 30.47 49.843-13.627 81.968-33.91 81.968-56.22 0-41.018-106.514-74.344-237.688-74.344zM147.47 103.094v30.094h216.28v-30.094H147.47zm4.374 48.78V361.94h18.687V151.875h-18.686zm39.125 0c.698 61.812 25.325 96.435 52.81 103.814-27.847 7.475-52.776 42.9-52.843 106.25h128.188c-.066-63.353-24.952-98.766-52.78-106.25 27.468-7.386 52.05-41.998 52.75-103.813H190.968zm147.936 0V361.94h18.688V151.875h-18.688zM100.5 360.72c-50.153 13.626-82.563 33.827-82.563 56.217 0 41.018 106.546 74.344 237.72 74.344 131.173 0 237.687-33.325 237.687-74.342 0-22.31-32.125-42.593-81.97-56.22 17.232 8.88 27.532 19.244 27.532 30.438 0 32.13-82.313 58.563-183.25 58.563S72.97 423.283 72.97 391.155c0-11.254 10.123-21.528 27.53-30.437zm46.97 19.905v30.063h216.28v-30.063H147.47z' fill='%23fff' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.toast-save {
  background-color: #51a351;
  background-image: url("data:image/svg+xml,%0A%3Csvg version='1.1' width='36' height='36' viewBox='0 0 36 36' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Efloppy-line%3C/title%3E%3Cpath d='M27.36,4H6A2,2,0,0,0,4,6V30a2,2,0,0,0,2,2H30a2,2,0,0,0,2-2V8.78ZM25,30H11V22H25Zm5,0H27V22a2,2,0,0,0-2-2H11a2,2,0,0,0-2,2v8H6V6h4v6a2,2,0,0,0,2,2H24a2,2,0,0,0,2-2H12V6H26.51L30,9.59Z'  fill='%23fff' /%3E%3C/svg%3E");
}
.toast-load {
  background-color: #2f96b4;
  background-image: url("data:image/svg+xml,%0A%3Csvg version='1.1' width='36' height='36' viewBox='0 0 36 36' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M30.92,8H26.55a1,1,0,0,0,0,2H31V30H5V10H9.38a1,1,0,0,0,0-2H5.08A2,2,0,0,0,3,10V30a2,2,0,0,0,2.08,2H30.92A2,2,0,0,0,33,30V10A2,2,0,0,0,30.92,8Z' fill='%23fff'  %3E%3C/path%3E%3Cpath d='M10.3,18.87l7,6.89a1,1,0,0,0,1.4,0l7-6.89a1,1,0,0,0-1.4-1.43L19,22.65V4a1,1,0,0,0-2,0V22.65l-5.3-5.21a1,1,0,0,0-1.4,1.43Z' fill='%23fff' %3E%3C/path%3E%3C/svg%3E");
}
.signpost-content-body {
  :first-child {
    margin-top: 0.1rem;
  }
}
h1 {
  margin-top: -2px;
}
.infoPage {
  margin-right: 2rem;
}
