$clr-header-height: 1.5rem;
// $clr-vertical-nav-width: 15rem;
$clr-content-area-padding-top: 0.4rem;
$clr-content-area-padding-right: 0.6rem;
$clr-content-area-padding-bottom: 0.6rem;
$clr-content-area-padding-left: 0.6rem;
// $clr-subnav-height: 1rem;
// $clr-vertical-nav-link-padding-left: 0;
