:host /deep/ app-unit-line .nav-link {
  padding-left: 0.5rem !important;
  padding-right: 0.35rem !important;
}

.qta {
  float: right;
}

.fullWidth {
  width: 100% !important;
}
:host /deep/ .clr-treenode-children {
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  .clr-vertical-nav {
    width: 330px;
  }
}
:host /deep/ .clr-vertical-nav .nav-group-content .nav-text,
.clr-vertical-nav .nav-link {
  padding-left: 0.35rem !important;
}
:host /deep/.nav-text {
  overflow: visible !important;
}
