<h1>
  <clr-icon
    [attr.shape]="enemy.shape"
    *ngIf="enemy?.shape"
    size="48"
    class="resIcon"
  ></clr-icon>
  {{ enemy?.name }}
</h1>
<div *ngIf="enemy" class="clr-row">
  <div class="clr-col-6">
    <p>
      Level: {{ enemy.level }}
      <br />
      Fleet Power:
      <app-formatted-quantity
        [quantity]="enemy.totalFleetPower"
      ></app-formatted-quantity>
    </p>
    <p *ngIf="enemy.bonusCount > 0">
      <span class="label label-info" *ngIf="enemy.moreMetal"
        >More Metal District</span
      >
      <span class="label label-success" *ngIf="enemy.moreCrystal"
        >More Crystal District</span
      >
      <span class="label label-warning" *ngIf="enemy.moreHabitableSpace"
        >More Habitable Space</span
      >
      <span class="label label-warning" *ngIf="enemy.moreHabitableSpace2"
        >More Habitable Space</span
      >
    </p>
    <br />
    <div class="btn-group btn-primary">
      <button
        class="btn btn-success"
        (click)="attack()"
        [disabled]="ms.game.enemyManager.currentEnemy"
      >
        Attack
      </button>
      <button class="btn" (click)="move(-1)">Move Up</button>
      <button class="btn" (click)="move(1)">Move Down</button>
      <button class="btn btn-danger" (click)="deleteModal = true">
        Delete
      </button>
    </div>
    <br />
    <br />
    <clr-alert
      [clrAlertType]="'info'"
      *ngIf="ms.game.enemyManager.currentEnemy"
    >
      <clr-alert-item>
        <span class="alert-text">
          You cannot attack {{ enemy.name }} because you are already at war with
          <a [routerLink]="'/battle'"
            >{{ ms.game.enemyManager.currentEnemy.name }}
          </a>
          <br />
          You can surrender and change enemy anytime on the
          <a [routerLink]="'/battle'">battle page</a>
        </span>
      </clr-alert-item>
    </clr-alert>
  </div>
  <div class="clr-col-6">
    <h4>Ships:</h4>
    <app-fleet-table [fleet]="enemy.shipsDesign"></app-fleet-table>
  </div>
</div>

<!-- Delete enemy modal -->
<clr-modal [(clrModalOpen)]="deleteModal">
  <h3 class="modal-title">Delete {{ enemy?.name }}</h3>
  <div class="modal-body">
    <p>This cannot be undone</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="deleteModal = false">
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="delete()">
      Delete
    </button>
  </div>
</clr-modal>
