<div class="content-area">
  <h4>
    Automator Level:
    <app-formatted-quantity
      [quantity]="AutomatorManager.automatorLevel"
      [integer]="true"
    ></app-formatted-quantity>
  </h4>
  <table class="table">
    <thead>
      <tr>
        <th>Automator Lv</th>
        <th>Automators</th>
        <th>Intervals</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pr of prestige; trackBy: prestigeId">
        <td>{{ pr[0] }}</td>
        <td>
          <ul *ngIf="pr[1].length > 0" class="list list-unstyled">
            <li *ngFor="let auto of pr[1]">
              <strong>{{ auto[0] }}</strong> {{ auto[1] }}
            </li>
          </ul>
        </td>
        <td>
          <span *ngFor="let time of pr[2]">{{ time }} </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
